{% spaceless %}
{% block doctype -%}
<!DOCTYPE html>
{%- endblock doctype -%}

{%- block html -%}

{%- block html_tag -%}
{%- set html_attr = html_attr|default({}) -%}
<html{% for attrname, attrvalue in html_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
{%- endblock html_tag -%}

{%- block head -%}
<head>
    {%- block metadata -%}
    <meta charset="UTF-8" />
    {%- block viewport -%}
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
    {%- endblock viewport -%}
    {%- endblock metadata -%}

    <title>{% block title %}Welcome!{% endblock %}</title>

    {%- block stylesheets -%}
        {{- requireStylesPosition('higher_priority') -}}
        {{- requireStylesPosition() -}}
        {{- requireStylesPosition('lower_priority') -}}
    {%- endblock stylesheets -%}

    {%- block style -%}
        <style>
            {%- block style_global -%}
            {{- inlineStylesPosition() -}}
            {%- endblock style_global -%}

            {%- block style_content -%}
            {%- endblock style_content -%}
        </style>
    {%- endblock style -%}

    {%- block head_javascripts -%}
        {{- requireScriptsPosition('head') -}}
    {%- endblock head_javascripts -%}

    {%- block head_conditional_comments -%}
        {#}HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries{#}
        <!--[if lt IE 9]>
        {{- requireScriptsPosition('head_hack_lt_ie_9') -}}
        <![endif]-->
        {%- require_script '@bower/html5shiv/dist/html5shiv.js' position='head_hack_lt_ie_9' -%}
        {%- require_script '@bower/respond/dest/respond.src.js' position='head_hack_lt_ie_9' -%}
    {%- endblock head_conditional_comments -%}

    {%- block head_inline_javascripts -%}
        <script>
            {{- inlineScriptsPosition('head') -}}
        </script>
    {%- endblock head_inline_javascripts -%}

    {%- block links -%}
    <link rel="icon" type="image/x-icon" href="{% block favicon %}{{ asset('favicon.ico') }}{% endblock favicon %}" />
    {%- endblock links -%}

    {%- block metadata_lower -%}
    {%- endblock metadata_lower -%}
</head>
{%- endblock head -%}

{%- set body_attr = body_attr|default({}) -%}
<body{% for attrname, attrvalue in body_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {%- block body -%}
    {%- endblock body -%}

    {%- block javascripts -%}
        {{- requireScriptsPosition('body_priority') -}}
        {{- requireScriptsPosition() -}}
        {%- require_script '@bower/jquery/dist/jquery.js' position='body_priority' -%}
    {%- endblock javascripts -%}

    {%- block javascript_global -%}
        <script>
            $( document ).ready( function() {
                {{- inlineScriptsPosition() -}}
            });
        </script>
    {%- endblock javascript_global -%}
</body>
</html>
{%- endblock html -%}
{{- renderAssetTags() -}}
{% endspaceless %}
