{% block doctype %}
<!DOCTYPE html>
{% endblock doctype %}

{% block html %}
{% spaceless %}
{% block html_tag %}
<html>
{% endblock html_tag %}
{% block head %}
<head>
    {% block metadata %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock metadata %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block links %}
    <link rel="icon" type="image/x-icon" href="{% block favicon %}{{ asset('favicon.ico') }}{% endblock favicon %}" />
    {% endblock links %}
    {% block stylesheets %}
        {% assetstylesheets 'sonatra_bootstrap_common_stylesheets' %}
	        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
	    {% endassetstylesheets %}
    {% endblock stylesheets %}
    {% block style %}
    <style type="text/css">
        {{ block_global_stylesheets() }}
        {{ form_global_stylesheets() }}
        {% block style_content %}
        {% endblock style_content %}
    </style>
    {% endblock style %}

    {% block conditional_comments %}
    {#}HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries{#}
    <!--[if lt IE 9]>
        {% block hack_lt_ie_9 %}
		{% assetjavascripts 'sonatra_bootstrap_head_hack_lt_ie_9' %}
	        <script type="text/javascript" src="{{ asset_url }}"></script>
	    {% endassetjavascripts %}
        {% endblock hack_lt_ie_9 %}
    <![endif]-->
    {% endblock conditional_comments %}
</head>
{% endblock head %}

{% set body_attr = body_attr|default({}) %}
<body{% for attrname, attrvalue in body_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% block body %}
    {% endblock body %}

    {% block javascripts %}
    {% assetjavascripts 'sonatra_bootstrap_common_javascripts' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endassetjavascripts %}
    {% endblock javascripts %}
    {% block jquery %}
    <script type="text/javascript">
    $( document ).ready( function() {
        {{ block_global_javascripts() }}
        {{ form_global_javascripts() }}
        {% block jquery_content %}
        {% endblock jquery_content %}
    });
    </script>
    {% endblock jquery %}
</body>
</html>
{% endspaceless %}
{% endblock html %}
