{% block block_widget_simple -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- if layout is defined and layout == 'horizontal' -%}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {%- endif -%}
    {{- block_widget_simple_before_content|default('')|raw -}}

    {%- if block.parent.vars.row|default(false) -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' block-control')|trim}) -%}
    {%- endif -%}
    {{- block('base_block_widget_simple') -}}
    {{- block_widget_simple_after_content|default('')|raw -}}

    {%- if layout is defined and layout == 'horizontal' -%}
        </div>
    {%- endif -%}
{%- endif -%}
{%- endblock block_widget_simple %}


{% block block_widget_compound -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- if layout is defined and layout != null -%}
        {%- set attr = attr|merge({'class': (' block-' ~ layout ~ ' ' ~ attr.class|default(''))|trim}) -%}
    {%- endif -%}
    {%- if block.parent.vars.row|default(false) -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' block-control')|trim}) -%}
    {%- endif -%}

    {{- block('base_block_widget_compound') -}}
{%- endif -%}
{%- endblock block_widget_compound %}


{% block block_row -%}
{%- if rendered -%}
    {%- if block.parent.vars.row|default(false) -%}
        {%- set row_attr = row_attr|default({})|merge({'class': ('block-group ' ~ (row_attr.class|default('')))|trim}) -%}
        <div{% for attrname, attrvalue in row_attr %} {{ attrname }}="{{ attrvalue }}"{%- endfor -%}>
    {%- endif -%}
    {%- if block.parent.vars.row|default(false) and block.parent.vars.row_label|default(false) -%}
        {{- block_label(block) -}}
    {%- endif -%}
    {{- block_widget(block) -}}
    {%- if block.parent.vars.row|default(false) -%}
        </div>
    {%- endif -%}
{%- endif -%}
{%- endblock block_row %}


{% block closure_row -%}
{%- if rendered -%}
    {{- block_widget(block) -}}
{%- endif -%}
{%- endblock closure_row %}


{% block block_label -%}
{%- if rendered -%}
    {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' block-label')|trim}) -%}
    {%- if display_label == false -%}
        {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' sr-only')|trim}) -%}
    {%- endif -%}
    {%- if layout is defined and layout == 'horizontal' -%}
        {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-' ~ layout_col_label)|trim}) -%}
    {%- endif -%}

    {{- block('base_block_label') -}}
{%- endif -%}
{%- endblock block_label %}


{% block widget_attributes -%}
    {{- block('base_widget_attributes') -}}
    {{- block('extension_tooltip_javascript') -}}
    {{- block('extension_popover_javascript') -}}
    {{- block('extension_scroll_spy_javascript') -}}
{%- endblock widget_attributes %}


{% block widget_container_attributes -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ visible_viewport)|trim}) -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ hidden_viewport)|trim}) -%}
    {{- block('base_widget_container_attributes') -}}
    {{- block('extension_tooltip_javascript') -}}
    {{- block('extension_popover_javascript') -}}
    {{- block('extension_scroll_spy_javascript') -}}
{%- endblock widget_container_attributes %}
