{% use 'block_div_layout.html.twig' with block_widget_simple as base_block_widget_simple,
                                         block_widget_compound as base_block_widget_compound,
                                         block_label as base_block_label,
                                         choice_widget as base_choice_widget,
                                         collection_widget as base_collection_widget,
                                         widget_attributes as base_widget_attributes,
                                         widget_container_attributes as base_widget_container_attributes %}

{% block block_widget_simple %}
{% spaceless %}
    {% if layout is defined and layout == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if block.parent.vars.row|default(false) %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' block-control')|trim}) %}
    {% endif %}
    {{ block('base_block_widget_simple') }}

    {% if layout is defined and layout == 'horizontal' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock block_widget_simple %}


{% block block_widget_compound %}
{% spaceless %}
    {% if layout is defined and layout != null %}
        {% set attr = attr|merge({'class': (' block-' ~ layout ~ ' ' ~ attr.class|default(''))|trim}) %}
    {% endif %}
    {% if block.parent.vars.row|default(false) %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' block-control')|trim}) %}
    {% endif %}

    {{ block('base_block_widget_compound') }}
{% endspaceless %}
{% endblock block_widget_compound %}


{% block block_row %}
{% spaceless %}
    {% if block.parent.vars.row|default(false) %}
        {% set row_attr = row_attr|default({})|merge({'class': ('block-group ' ~ (row_attr.class|default('')))|trim}) %}
    <div{% for attrname, attrvalue in row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% endif %}
        {% if block.parent.vars.row|default(false) and block.parent.vars.row_label|default(false) %}
            {{ block_label(block) }}
        {% endif %}
        {{ block_widget(block) }}
    {% if block.parent.vars.row|default(false) %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock block_row %}


{% block closure_row %}
{% spaceless %}
    {{ block_widget(block) }}
{% endspaceless %}
{% endblock closure_row %}


{% block block_label %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' block-label')|trim}) %}
    {% if display_label == false %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' sr-only')|trim}) %}
    {% endif %}
    {% if layout is defined and layout == 'horizontal' %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-' ~ layout_col_label)|trim}) %}
    {% endif %}

    {{ block('base_block_label') }}
{% endblock block_label %}


{% block choice_widget %}
{% spaceless %}
    {% if layout is defined and layout == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if block.parent.vars.row|default(false) %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' block-control')|trim}) %}
    {% endif %}
    {{ block('base_choice_widget') }}

    {% if layout is defined and layout == 'horizontal' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}


{% block checkbox_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    {% if layout is defined and layout == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    <div class="block_checkbox{% if block.parent.vars.row|default(false) %} block-control{% endif %}">
        {{ block('checkbox_widget_content') }}
    </div>

    {% if layout is defined and layout == 'horizontal' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock checkbox_widget %}

{% block checkbox_widget_content %}
{% spaceless %}
    {% if value %}
        {% set value = 'check' %}
    {% else %}
            {% set value = 'unchecked' %}
    {% endif %}
    {% set attr = attr|merge({'class': ('glyphicon glyphicon-' ~ value ~ ' ' ~ attr.class|default(''))|trim}) %}
    <span{{ block('widget_attributes') }}></span>
{% endspaceless %}
{% endblock checkbox_widget_content %}


{% block radio_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    {% if layout is defined and layout == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    <div class="block_radio{% if block.parent.vars.row|default(false) %} block-control{% endif %}">
        {{ block('radio_widget_content') }}
    </div>

    {% if layout is defined and layout == 'horizontal' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock radio_widget %}

{% block radio_widget_content %}
{% spaceless %}
    {% if value %}
        {% set value = 'check' %}
    {% else %}
            {% set value = 'unchecked' %}
    {% endif %}
    {% set attr = attr|merge({'class': ('glyphicon glyphicon-' ~ value ~ ' ' ~ attr.class|default(''))|trim}) %}
    <span{{ block('widget_attributes') }}></span>
{% endspaceless %}
{% endblock radio_widget_content %}


{% block collection_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('block-collection ' ~ attr.class|default(''))|trim}) %}

    {% if layout is defined and layout == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {{ block('base_collection_widget') }}
    {% if layout is defined and layout == 'horizontal' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock collection_widget %}


{% block fieldset_label %}
{% endblock fieldset_label %}

{% block fieldset_widget %}
{% spaceless %}
    {% if block.parent.vars.row|default(false) %}
        {% set attr = attr|merge({'class': ('block-group ' ~ attr.class|default(''))|trim}) %}
    {% endif %}

    <fieldset{{ block('widget_attributes') }}>
        {% if label is not empty %}
            {% if layout is defined and layout == 'horizontal' %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-' ~ (layout_col_label + layout_col_control))|trim}) %}
            {% endif %}
            <legend{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</legend>
        {% endif %}
        {{ block('block_rows') }}
    </fieldset>
{% endspaceless %}
{% endblock fieldset_widget %}


{% block form_content_widget %}
{% spaceless %}
    {% set form_attr = {'row_attr': row_attr, 'display_label': display_label} %}
    {% if layout is defined and layout_col_size is defined and layout_col_label is defined and layout_col_control is defined %}
        {% set form_attr = form_attr|merge({'layout': layout, 'layout_col_size': layout_col_size, 'layout_col_label': layout_col_label, 'layout_col_control': layout_col_control}) %}
    {% endif %}

    {{ form_widget(block_form, form_attr) }}
{% endspaceless %}
{% endblock form_content_widget %}


{% block image_widget %}
{% spaceless %}
    {% if style is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' img-' ~ style)|trim}) %}
    {% endif %}

    {% if responsive %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' img-responsive')|trim}) %}
    {% endif %}

    {% if block.parent.vars.row|default(false) %}
        <div class="block-control">
    {% endif %}

    {% if layout is defined and layout == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    <img{{ block('widget_attributes') }}>
    {% if layout is defined and layout == 'horizontal' %}
        </div>
    {% endif %}

    {% if block.parent.vars.row|default(false) %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock image_widget %}


{% block widget_attributes %}
{{ block('base_widget_attributes') }}
{% spaceless %}
    {{ block('extension_tooltip_javascript') }}
    {{ block('extension_popover_javascript') }}
    {{ block('extension_scroll_spy_javascript') }}
{% endspaceless %}
{% endblock widget_attributes %}


{% block widget_container_attributes %}
{% spaceless %}
    {% if visibility|length > 0 %}
        {% set visibility_class = '' %}
        {% for item in visibility %}
            {% set visibility_class = ' ' ~ visibility_class ~ ' ' ~ item %}
        {% endfor %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ visibility_class|trim)|trim}) %}
    {% endif %}
    {% if print is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ print ~ '-print')|trim}) %}
    {% endif %}    
{% endspaceless %}
{{ block('base_widget_container_attributes') }}
{% spaceless %}
    {{ block('extension_tooltip_javascript') }}
    {{ block('extension_popover_javascript') }}
    {{ block('extension_scroll_spy_javascript') }}
{% endspaceless %}
{% endblock widget_container_attributes %}


{% block extension_tooltip_javascript %}
    {% if tooltip_id is defined %}
        {% asset_javascript %}
            <script type="text/javascript">
            $('#{{ tooltip_id }}').tooltip();
            </script>
        {% endasset %}
    {% endif %}
{% endblock extension_tooltip_javascript %}


{% block extension_popover_javascript %}
    {% if popover_id is defined %}
        {% asset_javascript %}
            <script type="text/javascript">
            $('#{{ popover_id }}').popover();
            </script>
        {% endasset %}
    {% endif %}
{% endblock extension_popover_javascript %}


{% block extension_scroll_spy_javascript %}
    {% if scroll_spy is defined %}
        {% asset_javascript %}
            <script type="text/javascript">
            $('#{{ popover_id }}').popover();
            $('{{ scroll_spy.on }}').scrollspy({ target: '#{{ scroll_spy.target }}'{% if scroll_spy.offset is not null %}, offset: {{ scroll_spy.offset }}{% endif %} });
            </script>
        {% endasset %}
    {% endif %}
{% endblock extension_scroll_spy_javascript %}
