{% block block_collapse_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if collapsible -%}
        {%- require_script '@bower/bootstrap/js/transition.js', '@bower/bootstrap/js/collapse.js' -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' collapse')|trim}) -%}
    {%- endif -%}

    {%- if not(collapsed) -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' in')|trim}) -%}
    {%- endif -%}

    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock block_collapse_widget %}


{% block clearfix_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('clearfix' ~ ' ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}></div>
{%- endif -%}
{%- endblock clearfix_widget %}


{% block close_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'type': 'button', 'class': ('close ' ~ attr.class|default(''))|trim, 'aria-hidden': 'true'}) -%}

    <button{{ block('widget_container_attributes') }}>&times;{{- value|raw -}}</button>
{%- endif -%}
{%- endblock close_widget %}


{% block caret_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('caret ' ~ attr.class|default(''))|trim}) -%}

    <span{{ block('widget_container_attributes') }}>{{- value|raw -}}</span>
{%- endif -%}
{%- endblock caret_widget %}
