{% block panel_group_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': ('panel-group ' ~ attr.class|default(''))|trim}) %}
        <div{{ block('widget_container_attributes') }}>
            {{- value|raw -}}
            {% for child in block %}
                {{ block_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock panel_group_widget %}


{% block panel_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': ('panel ' ~ attr.class|default(''))|trim}) %}

        {% if style is not null %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' panel-' ~ style)|trim}) %}
        {% endif %}

        <div{{ block('widget_container_attributes') }}>
            {% if block_header is defined %}
                {{- block_widget(block_header) -}}
            {% endif %}

            {% if group_collapse|default(false) %}
            <div id="{{ id }}Collapse" class="panel-collapse collapse{% if group_collapse_in|default(false) %} in{% endif %}">
                {% endif %}

                {{- value|raw -}}
                {% for child in block %}
                    {{ block_widget(child) }}
                {% endfor %}

                {% if group_collapse|default(false) %}
            </div>
            {% endif %}

            {% if block_footer is defined %}
                {{- block_widget(block_footer) -}}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock panel_widget %}


{% block panel_header_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': ('panel-heading ' ~ attr.class|default(''))|trim}) %}
        <div{{ block('widget_container_attributes') }}>
            {{ block('panel_header_widget_content') }}
        </div>
    {% endspaceless %}
{% endblock panel_header_widget %}


{% block panel_header_widget_content %}
    {% spaceless %}
        {% if panel_heading is defined %}
            {{ block_widget(panel_heading) }}
        {% endif %}
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock panel_header_widget_content %}


{% block panel_body_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': ('panel-body ' ~ attr.class|default(''))|trim}) %}
        <div{{ block('widget_container_attributes') }}>
            {{- value|raw -}}
            {% for child in block %}
                {{ block_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock panel_body_widget %}


{% block panel_footer_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': ('panel-footer ' ~ attr.class|default(''))|trim}) %}
        <div{{ block('widget_container_attributes') }}>
            {{- value|raw -}}
            {% for child in block %}
                {{ block_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock panel_footer_widget %}
