{% block media_list_widget -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('media-list ' ~ attr.class|default(''))|trim}) -%}

    <ul{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </ul>
{%- endblock media_list_widget %}


{% block media_widget -%}
    {%- set attr = attr|merge({'class': ('media ' ~ attr.class|default(''))|trim}) -%}

    <{{ tag }}{{ block('widget_container_attributes') }}>
    {{- value|raw -}}

    {%- for child in block -%}
        {{- block_widget(child) -}}
    {%- endfor -%}

    </{{ tag }}>
{%- endblock media_widget %}


{% block media_body_widget -%}
    {%- set attr = attr|merge({'class': ('media-body ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}>
        {%- if label is not null %}<h4 class="media-heading">{{ label }}</h4>{% endif -%}
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endblock media_body_widget %}
