{% block breadcrumb_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('breadcrumb ' ~ attr.class|default(''))|trim}) -%}
    <ol{{ block('widget_container_attributes') }}>
        {{- block('block_rows') -}}
    </ol>
{%- endif -%}
{%- endblock breadcrumb_widget %}


{% block breadcrumb_item_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- if active -%}
        {%- set attr = attr|merge({'class': ('active ' ~ attr.class|default(''))|trim}) -%}
    {%- endif -%}
    <li{{ block('widget_container_attributes') }}>
        {%- if not(active) -%}
            <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {%- endif -%}
        {{- label|block_trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
        {%- if not(active) -%}
            </a>
        {%- endif -%}
    </li>
{%- endif -%}
{%- endblock breadcrumb_item_widget %}
