{% block nav_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- require_script '@bower/bootstrap/js/tab.js' -%}

    {%- set nav_class = 'nav ' -%}
    {%- if style is not null -%}
        {%- set nav_class = nav_class ~ ' nav-' ~ style ~ ' ' -%}
    {%- endif -%}
    {%- set attr = attr|merge({'class': (nav_class ~ attr.class|default(''))|trim}) -%}

    {%- if stacked -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' nav-stacked')|trim}) -%}
    {%- endif -%}

    <ul{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </ul>
{%- endif -%}
{%- endblock nav_widget %}


{% block nav_item_widget -%}
{%- if rendered -%}
    {%- set style = block.parent.vars.style|default('tabs') -%}

    {%- if active and not disabled -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' active')|trim}) -%}
    {%- endif -%}
    {%- if disabled -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' disabled')|trim}) -%}
    {%- endif -%}
    {%- if is_item_dropdown -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown')|trim}) -%}
        {%- set link_attr = link_attr|merge({'class': (link_attr.class|default('') ~ ' dropdown-toggle')|trim, 'data-toggle': 'dropdown'}) -%}
    {%- endif -%}

    {%- if rendered is same as(true) -%}
    <li{{ block('widget_container_attributes') }}>
        <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- label|block_trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}

        {%- if is_item_dropdown -%}
            <span class="caret"></span>
        {%- endif -%}
        </a>
        {%- if dropdown is defined -%}
            {{- block_widget(dropdown) -}}
        {%- endif -%}
    </li>
    {%- endif -%}
{%- endif -%}
{%- endblock nav_item_widget %}


{% block tab_content_widget -%}
{%- if rendered -%}
    {%- set attr = attr|merge({'class': ('tab-content ' ~ attr.class|default(''))|trim}) -%}

    {{- value|raw -}}
    {{- block('block_widget_compound') -}}
{%- endif -%}
{%- endblock tab_content_widget %}


{% block tab_pane_widget -%}
{%- if rendered -%}
    {%- set attr = attr|merge({'class': ('tab-pane ' ~ attr.class|default(''))|trim}) -%}

    {%- if active -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' active')|trim}) -%}
    {%- endif -%}

    {{- value|raw -}}
    {{- block('block_widget_compound') -}}
{%- endif -%}
{%- endblock tab_pane_widget %}
