{% block container_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set container_class = 'container' -%}
    {%- if fluid -%}
        {%- set container_class = 'container-fluid' -%}
    {%- endif -%}
    {%- set attr = attr|merge({'class': (container_class ~ ' ' ~ attr.class|default(''))|trim}) -%}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock container_widget %}


{% block row_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('row ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock row_widget %}


{% block col_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set col_class = '' -%}

    {%- for item in grid -%}
        {%- set col_class = col_class ~ item ~ ' ' -%}
    {%- endfor -%}

    {%- for item in offset -%}
        {%- set col_class = col_class ~ item ~ ' ' -%}
    {%- endfor -%}

    {%- set attr = attr|merge({'class': (col_class ~ ' ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock col_widget %}


{% block label_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('label label-' ~ style ~ ' ' ~ attr.class|default(''))|trim}) -%}

    <span{{ block('widget_container_attributes') }}>
        {{- label|block_trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </span>
{%- endif -%}
{%- endblock label_widget %}
