{% use '@SonatraBootstrap/Block/block_bootstrap.html.twig' %}

{% block container_widget %}
{% spaceless %}
    {% set container_class = 'container' %}
    {% if fluid %}
        {% set container_class = 'container-fluid' %}
    {% endif %}
    {% set attr = attr|merge({'class': (container_class ~ ' ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock container_widget %}

{% block row_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('row ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock row_widget %}

{% block col_widget %}
{% spaceless %}
    {% set col_class = '' %}

    {% for item in grid %}
        {% set col_class = col_class ~ item ~ ' ' %}
    {% endfor %}

    {% for item in offset %}
        {% set col_class = col_class ~ item ~ ' ' %}
    {% endfor %}

    {% set attr = attr|merge({'class': (col_class ~ ' ' ~ attr.class|default(''))|trim}) %}

    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock col_widget %}

{% block clearfix_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('clearfix' ~ ' ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}></div>
{% endspaceless %}
{% endblock clearfix_widget %}


{% block button_group_widget %}
{% spaceless %}
    {% if vertical %}
        {% set vertical = '-vertical' %}
    {% else %}
        {% set vertical = '' %}
    {% endif %}

    {% set attr = attr|merge({'class': ('btn-group' ~ vertical ~ ' ' ~ attr.class|default(''))|trim}) %}

    {% if size is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-group-' ~ size)|trim}) %}
    {% endif %}

    {% if justified %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-group-justified')|trim}) %}
    {% endif %}
    {{- value|raw -}}
    {{ block('block_widget_compound') }}
{% endspaceless %}
{% endblock button_group_widget %}


{% block button_toolbar_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ' btn-toolbar' ~ (attr.class|default(''))|trim}) %}
    {{- value|raw -}}
    <div{{ block('widget_container_attributes') }}>
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock button_toolbar_widget %}


{% block glyphicon_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('glyphicon glyphicon-' ~ icon ~ ' ' ~ attr.class|default(''))|trim}) %}

    <span{{ block('widget_container_attributes') }}>{{- value|raw -}}{{ block('block_rows') }}</span>
{% endspaceless %}
{% endblock glyphicon_widget %}


{% block well_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('well ' ~ attr.class|default(''))|trim}) %}

    {% if size is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' well-' ~ size)|trim}) %}
    {% endif %}
    {{- value|raw -}}
    {{ block('block_widget_compound') }}
{% endspaceless %}
{% endblock well_widget %}


{% block button_widget %}
{% spaceless %}
    {% if label is null %}
        {% set label = name|humanize %}
    {% endif %}

    {% if dropdown is defined and split is not defined %}
        {% set tag = 'button' %}
    {% elseif split is defined %}
        {% set tag = split.vars.tag %}
    {% endif %}

    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn')|trim}) %}

    {% if style is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-' ~ style)|trim}) %}
    {% endif %}

    {% if size is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-' ~ size)|trim}) %}
    {% endif %}

    {% if block_level %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-block')|trim}) %}
    {% endif %}

    {% if dropdown is defined %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-toggle')|trim, 'data-toggle': 'dropdown'}) %}
        <div class="btn-group{% if dropup %} dropup{% endif %}">
    {% endif %}

    {% if split is defined %}
        {{ block_widget(split, {tag: tag, style: style, size: size, block_level: block_level}) }}
    {% endif %}

    {% if tag == 'button' %}
        <button type="button" {{ block('button_attributes') }}>
    {% else %}
        {% if disabled %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' disabled')|trim}) %}
        {% endif %}
        {% if src is not null and dropdown is not defined %}
            {% set attr = attr|merge({'href': src}) %}
        {% endif %}
        <a{{ block('widget_container_attributes') }}>
    {% endif %}
    {% if prepend is defined %}
        {% if prepend_is_string %}
            {{ prepend|raw }}
        {% else %}
            {{ block_widget(prepend) }}
        {% endif %}
    {% endif %}
    {% if split is not defined %}
        {{ label|trans({}, translation_domain) }}
    {% endif %}
    {% if append is defined %}
        {% if append_is_string %}
            {{ append|raw }}
        {% else %}
            {{ block_widget(append) }}
        {% endif %}
    {% endif %}

    {{- value|raw -}}
    {{ block('block_rows') }}

    {% if dropdown is defined %}
         <span class="caret"></span>
    {% endif %}

    {% if tag == 'button' %}
        </button>
    {% else %}
        </a>
    {% endif %}

    {% if dropdown is defined %}
        {{ block_widget(dropdown) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock button_widget %}

{% block button_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ id }}"{% if disabled %} disabled="disabled"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
    {{ block('extension_tooltip_javascript') }}
    {{ block('extension_popover_javascript') }}
    {{ block('extension_scroll_spy_javascript') }}
{% endspaceless %}
{% endblock button_attributes %}


{% block link_widget %}
{% spaceless %}
    {% if 'link' != style %}
        {% set attr = attr|merge({'class': ('btn btn-' ~ style ~ ' ' ~ attr.class|default(''))|trim}) %}

        {% if size is not null %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-' ~ size)|trim}) %}
        {% endif %}
    {% elseif 'alert' in block.parent.vars.block_prefixes|default([]) %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' alert-link')|trim}) %}
    {% endif %}
    <a{{ block('widget_container_attributes') }}>
        {{- label|trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </a>
{% endspaceless %}
{% endblock link_widget %}


{% block dropdown_widget %}
{% spaceless %}
    {% if wrapper %}
        {% set wrapper_attr = wrapper_attr|merge({'class': (wrapper_attr.class|default('') ~ ' dropdown')|trim}) %}
        <div{% for attrname, attrvalue in wrapper_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-menu')|trim, role:'menu'}) %}
    {% if align is not empty %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-menu-' ~ align)|trim}) %}
    {% endif %}
    <ul{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </ul>
    {% if wrapper %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock dropdown_widget %}

{% block dropdown_divider_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' divider')|trim, role:'presentation'}) %}
    <li{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </li>
{% endspaceless %}
{% endblock dropdown_divider_widget %}

{% block dropdown_item_widget %}
{% spaceless %}
    {% set attr = attr|merge({role:'presentation'}) %}
    {% set link_attr = link_attr|merge({role:'menuitem'}) %}
    {% if disabled %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' disabled')|trim}) %}
    {% endif %}
    <li{{ block('widget_container_attributes') }}>
        <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- label|trans({}, translation_domain) -}}
            {{- value|raw -}}
            {{- block('block_rows') -}}
        </a>
    </li>
{% endspaceless %}
{% endblock dropdown_item_widget %}

{% block dropdown_header_widget %}
{% spaceless %}
    {% if divider %}
        {{ sblock('dropdown_divider') }}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-header')|trim, role:'presentation'}) %}
    <li{{ block('widget_container_attributes') }}>
        {{- label|trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </li>
{% endspaceless %}
{% endblock dropdown_header_widget %}


{% block nav_widget %}
{% spaceless %}
    {% set nav_class = 'nav ' %}
    {% if style is not null %}
        {% set nav_class = nav_class ~ ' nav-' ~ style ~ ' ' %}
    {% endif %}
    {% set attr = attr|merge({'class': (nav_class ~ attr.class|default(''))|trim}) %}

    {% if stacked %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' nav-stacked')|trim}) %}
    {% endif %}

    <ul{{ block('widget_container_attributes') }}>
        {{ value|raw }}
        {{ block('block_rows') }}
    </ul>
{% endspaceless %}
{% endblock nav_widget %}

{% block nav_item_widget %}
{% spaceless %}
    {% set style = block.parent.vars.style|default('tabs') %}

    {% if active and not disabled %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' active')|trim}) %}
    {% endif %}
    {% if disabled %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' disabled')|trim}) %}
    {% endif %}
    {% if is_item_dropdown %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown')|trim}) %}
        {% set link_attr = link_attr|merge({'class': (link_attr.class|default('') ~ ' dropdown-toggle')|trim, 'data-toggle': 'dropdown'}) %}
    {% endif %}
    <li{{ block('widget_container_attributes') }}>
        <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- label|trans({}, translation_domain) }}
            {{- value|raw -}}
            {{- block('block_rows') -}}
            {% if is_item_dropdown %}
                <span class="caret"></span>
            {% endif %}
        </a>
        {% if dropdown is defined %}
            {{ block_widget(dropdown) }}
        {% endif %}
    </li>
{% endspaceless %}
{% endblock nav_item_widget %}


{% block tab_content_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('tab-content ' ~ attr.class|default(''))|trim}) %}
    {{- value|raw -}}
    {{ block('block_widget_compound') }}
{% endspaceless %}
{% endblock tab_content_widget %}

{% block tab_pane_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('tab-pane ' ~ attr.class|default(''))|trim}) %}

    {% if active %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' active')|trim}) %}
    {% endif %}

    {{- value|raw -}}
    {{ block('block_widget_compound') }}
{% endspaceless %}
{% endblock tab_pane_widget %}

{% block breadcrumb_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('breadcrumb ' ~ attr.class|default(''))|trim}) %}
    <ol{{ block('widget_container_attributes') }}>
        {{ block('block_rows') }}
    </ol>
{% endspaceless %}
{% endblock breadcrumb_widget %}

{% block breadcrumb_item_widget %}
{% spaceless %}
    {% if active %}
        {% set attr = attr|merge({'class': ('active ' ~ attr.class|default(''))|trim}) %}
    {% endif %}
    <li{{ block('widget_container_attributes') }}>
        {% if not(active) %}
            <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {% endif %}
            {{- label|trans({}, translation_domain) -}}
            {{- value|raw -}}
            {{- block('block_rows') -}}
        {% if not(active) %}
            </a>
        {% endif %}
    </li>
{% endspaceless %}
{% endblock breadcrumb_item_widget %}


{% block progress_bar_widget %}
{% spaceless %}
    {% if not(stacked) %}
    <div class="progress{% if striped %} progress-striped{% if animated %} active{% endif %}{% endif %}">
    {% endif %}

        {% set attr = attr|merge({'class': ('progress-bar ' ~ attr.class|default(''))|trim,
            'role': 'progressbar', 'aria-valuenow': value, 'aria-valuemin': min, 'aria-valuemax': max, 'style': 'width:'~value~'%;'})
        %}

        {% if style is not null %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' progress-bar-'~style)|trim}) %}
        {% endif %}

        {% if stacked or (not(stacked) and block.children|length == 0) %}
        <div{{ block('widget_container_attributes') }}>
            {% if label is not null %}
                <span class="sr-only">{{ label|trans({'%value%': value}, translation_domain) }}</span>
            {% endif %}
        </div>
        {% endif %}

        {{ block('block_rows') }}

    {% if not(stacked) %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock progress_bar_widget %}


{% block close_widget %}
{% spaceless %}
    {% set attr = attr|merge({'type': 'button', 'class': ('close ' ~ attr.class|default(''))|trim, 'aria-hidden': 'true'}) %}

    <button{{ block('widget_container_attributes') }}>&times;{{- value|raw -}}</button>
{% endspaceless %}
{% endblock close_widget %}


{% block caret_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('caret ' ~ attr.class|default(''))|trim}) %}

    <span{{ block('widget_container_attributes') }}>{{- value|raw -}}</span>
{% endspaceless %}
{% endblock caret_widget %}

{% block code_widget %}
{% spaceless %}
    <{% if inline %}code{% else %}pre{% endif %}{{ block('widget_container_attributes') }}>
        {%- if escape -%}
            {{- value -}}
            {{- block('block_rows')|escape -}}
        {%- else -%}
            {{- value|raw -}}
            {{- block('block_rows') -}}
        {%- endif -%}
    </{% if inline %}code{% else %}pre{% endif %}>
{% endspaceless %}
{% endblock code_widget %}

{% block page_header_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('page-header ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock page_header_widget %}

{% block heading_widget %}
{% spaceless %}
    <h{{ size }}{{ block('widget_container_attributes') }}>
        {{- label|trans({}, translation_domain) -}}
        {% if secondary is not null %}
            <small>{{ secondary|trans({}, translation_domain) }}</small>
        {% endif %}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </h{{ size }}>
{% endspaceless %}
{% endblock heading_widget %}


{% block paragraph_widget %}
{% spaceless %}
    {% if lead %}
        {% set attr = attr|merge({'class': ('lead ' ~ attr.class|default(''))|trim}) %}
    {% endif %}
    {% if align is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' text-' ~ align)|trim}) %}
    {% endif %}
    {% if emphasis is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' text-' ~ emphasis)|trim}) %}
    {% endif %}
    <p{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{ block('block_rows') }}
    </p>
{% endspaceless %}
{% endblock paragraph_widget %}


{% block abbreviation_widget %}
{% spaceless %}
    {% if label is not null %}
        {% set attr = attr|merge({'title': label|trans({}, translation_domain)}) %}
    {% endif %}
    {% if initialism %}
        {% set attr = attr|merge({'class': ('initialism ' ~ attr.class|default(''))|trim}) %}
    {% endif %}
    <abbr{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </abbr>
{% endspaceless %}
{% endblock abbreviation_widget %}


{% block blockquote_widget %}
{% spaceless %}
    {% if reverse %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' blockquote-reverse')|trim}) %}
    {% endif %}
    <blockquote{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{ block('block_rows') }}
    </blockquote>
{% endspaceless %}
{% endblock blockquote_widget %}

{% block blockquote_footer_widget %}
{% spaceless %}
    <footer{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </footer>
{% endspaceless %}
{% endblock blockquote_footer_widget %}


{% block list_group_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('list-group ' ~ attr.class|default(''))|trim}) %}
    {{ block('list_widget') }}
{% endspaceless %}
{% endblock list_group_widget %}

{% block list_group_item_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('list-group-item ' ~ attr.class|default(''))|trim}) %}
    {% if style %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' list-group-item-' ~ style)|trim}) %}
    {% endif %}
    {% set tag = tag|default('li') %}
    {% if is_link %}
        {% set tag = 'a' %}
    {% endif %}
    {% if active %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' active')|trim}) %}
    {% endif %}
    {{ block('list_item_widget') }}
{% endspaceless %}
{% endblock list_group_item_widget %}

{% block list_group_item_heading_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('list-group-item-heading ' ~ attr.class|default(''))|trim}) %}
    {{ block('heading_widget') }}
{% endspaceless %}
{% endblock list_group_item_heading_widget %}

{% block list_group_item_text_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('list-group-item-text ' ~ attr.class|default(''))|trim}) %}
    {{ block('paragraph_widget') }}
{% endspaceless %}
{% endblock list_group_item_text_widget %}


{% block list_widget %}
{% spaceless %}
    {% if unstyled is defined and unstyled %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' list-unstyled')|trim}) %}
    {% endif %}
    {% if inline is defined and inline %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' list-inline')|trim}) %}
    {% endif %}
    {% if horizontal is defined and horizontal %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' dl-horizontal')|trim}) %}
    {% endif %}
    <{{ tag }}{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{ block('block_rows') }}
    </{{ tag }}>
{% endspaceless %}
{% endblock list_widget %}

{% block list_item_widget %}
{% spaceless %}
    {% set tag = tag|default('li') %}
    {% if 'dl' == block.parent.vars.tag|default(null) %}
        {% set tag = 'dd' %}
    {% endif %}

    {% if 'dd' == tag %}
    <dt>{{- label|trans({}, translation_domain) -}}</dt>
    {% endif %}
    <{{ tag }}{{ block('widget_container_attributes') }}>
        {% if 'li' == tag or is_link|default(false) %}{{- label|trans({}, translation_domain) -}}{% endif %}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </{{ tag }}>
{% endspaceless %}
{% endblock list_item_widget %}


{% block address_widget %}
{% spaceless %}
    <address{{ block('widget_container_attributes') }}>
        {%- if label is not null %}
        <strong>{{- label|trans({}, translation_domain) -}}</strong><br>
        {% endif %}
        {{- value|raw -}}
        {{ block('block_rows') }}
    </address>
{% endspaceless %}
{% endblock address_widget %}


{% block label_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('label label-' ~ style ~ ' ' ~ attr.class|default(''))|trim}) %}
    <span{{ block('widget_container_attributes') }}>
        {{- label|trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </span>
{% endspaceless %}
{% endblock label_widget %}


{% block badge_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('badge ' ~ attr.class|default(''))|trim}) %}
    {% if align is not empty %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' pull-' ~ align)|trim}) %}
    {% endif %}
    <span{{ block('widget_container_attributes') }}>
        {{- label|trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </span>
{% endspaceless %}
{% endblock badge_widget %}


{% block jumbotron_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('jumbotron ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock jumbotron_widget %}


{% block alert_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('alert alert-' ~ style ~ ' ' ~ attr.class|default(''))|trim}) %}
    {% if dismissable %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' alert-dismissable')|trim}) %}
    {% endif %}
    <div{{ block('widget_container_attributes') }}>
        {% if dismissable %}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% endif %}
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock alert_widget %}


{% block media_list_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('media-list ' ~ attr.class|default(''))|trim}) %}
    <ul{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </ul>
{% endspaceless %}
{% endblock media_list_widget %}

{% block media_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('media ' ~ attr.class|default(''))|trim}) %}
    <{{ tag }}{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </{{ tag }}>
{% endspaceless %}
{% endblock media_widget %}

{% block media_body_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('media-body ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {% if label is not null %}<h4 class="media-heading">{{ label|trans({}, translation_domain) }}</h4>{% endif %}
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock media_body_widget %}


{% block thumbnail_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('thumbnail ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock thumbnail_widget %}

{% block thumbnail_caption_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('caption ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {% if label is not null %}<h3>{{ label|trans({}, translation_domain) }}</h3>{% endif %}
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock thumbnail_caption_widget %}


{% block pager_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('pager ' ~ attr.class|default(''))|trim}) %}
    {% set previous_wrap_attr = {} %}
    {% set next_wrap_attr = {} %}

    {% if aligned %}
        {% set previous_wrap_attr = previous_wrap_attr|merge({'class': ('previous ' ~ previous_wrap_attr.class|default(''))|trim}) %}
        {% set next_wrap_attr = next_wrap_attr|merge({'class': ('next ' ~ next_wrap_attr.class|default(''))|trim}) %}
    {% endif %}

    {% if previous_src is not null %}
        {% set previous_attr = previous_attr|merge({'href': previous_src}) %}
    {% endif %}

    {% if next_src is not null %}
        {% set next_attr = next_attr|merge({'href': previous_src}) %}
    {% endif %}

    {% if previous_disabled %}
        {% set previous_wrap_attr = previous_wrap_attr|merge({'class': (previous_wrap_attr.class|default('') ~ ' disabled')|trim}) %}
    {% endif %}

    {% if next_disabled %}
        {% set next_wrap_attr = next_wrap_attr|merge({'class': (next_wrap_attr.class|default('') ~ ' disabled')|trim}) %}
    {% endif %}

    <ul{{ block('widget_container_attributes') }}>
        <li{% for attrname, attrvalue in previous_wrap_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><a{% for attrname, attrvalue in previous_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ previous_label|trans({}, translation_domain) }}</a></li>
        <li{% for attrname, attrvalue in next_wrap_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><a{% for attrname, attrvalue in next_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ next_label|trans({}, translation_domain) }}</a></li>
        {{- value|raw -}}
        {{ block('block_rows') }}
    </ul>
{% endspaceless %}
{% endblock pager_widget %}

{% block pagination_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('pagination ' ~ attr.class|default(''))|trim}) %}

    {% if size is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' pagination-' ~ size)|trim}) %}
    {% endif %}

    <ul{{ block('widget_container_attributes') }}>
        {% if block_previous is defined %}{{ block_widget(block_previous) }}{% endif %}
        {{- value|raw -}}
        {{ block('block_rows') }}
        {% if block_next is defined %}{{ block_widget(block_next) }}{% endif %}
    </ul>
{% endspaceless %}
{% endblock pagination_widget %}

{% block pagination_item_widget %}
{% spaceless %}
    {% if disabled %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' disabled')|trim}) %}
    {% elseif active %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' active')|trim}) %}
    {% endif %}
    <li{{ block('widget_container_attributes') }}>
        {% if disabled %}
            <span>
                {{- label|trans({}, translation_domain)|raw -}}
                {{- value|raw -}}
                {{- block('block_rows') -}}
            </span>
        {% else %}
            <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{- label|trans({}, translation_domain)|raw -}}
                {{- value|raw -}}
                {{- block('block_rows') -}}
            </a>
        {% endif %}
    </li>
{% endspaceless %}
{% endblock pagination_item_widget %}


{% block panel_group_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('panel-group ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock panel_group_widget %}


{% block panel_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('panel ' ~ attr.class|default(''))|trim}) %}

    {% if style is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' panel-' ~ style)|trim}) %}
    {% endif %}

    <div{{ block('widget_container_attributes') }}>
        {% if block_header is defined %}
            {{- block_widget(block_header) -}}
        {% endif %}

        {% if group_collapse|default(false) %}
            <div id="{{ id }}Collapse" class="panel-collapse collapse{% if collapse_in %} in{% endif %}">
        {% endif %}

        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}

        {% if group_collapse|default(false) %}
           </div>
        {% endif %}

        {% if block_footer is defined %}
            {{- block_widget(block_footer) -}}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock panel_widget %}

{% block panel_header_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('panel-heading ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {% if label is not empty %}
            <h3 class="panel-title">{{- label|trans({}, translation_domain)|raw -}}</h3>
        {% endif %}
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock panel_header_widget %}

{% block panel_body_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('panel-body ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock panel_body_widget %}

{% block panel_footer_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('panel-footer ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock panel_footer_widget %}


{% block modal_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('modal ' ~ attr.class|default(''))|trim}) %}
    {% set dialog_attr = dialog_attr|merge({'class': ('modal-dialog ' ~ dialog_attr.class|default(''))|trim}) %}
    {% set content_attr = content_attr|merge({'class': ('modal-content ' ~ content_attr.class|default(''))|trim}) %}

    {% if transition is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ transition)|trim}) %}
    {% endif %}

    {% if size is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' modal-' ~ size)|trim}) %}
    {% endif %}

    <div{{ block('widget_container_attributes') }}>
        <div{% for attrname, attrvalue in dialog_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <div{% for attrname, attrvalue in content_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {% if block_header is defined %}
                    {{- block_widget(block_header) -}}
                {% endif %}
                {{- value|raw -}}
                {% for child in block %}
                    {{ block_widget(child) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock modal_widget %}

{% block modal_header_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('modal-header ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {% if close_button %}
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        {% endif %}
        {% if label is not empty %}<h4 class="modal-title">{{- label|trans({}, translation_domain)|raw -}}</h4>{% endif %}
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock modal_header_widget %}

{% block modal_body_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('modal-body ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock modal_body_widget %}

{% block modal_footer_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('modal-footer ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock modal_footer_widget %}


{% block carousel_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('carousel slide ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {% if indicators is defined %}
        <ol class="carousel-indicators">
            {% for ind_to, ind_active in indicators %}
            <li data-target="#{{ id }}" data-slide-to="{{ ind_to }}" class="{% if ind_active %}active{% endif %}"></li>
            {% endfor %}
        </ol>
        {% endif %}

        <div class="carousel-inner">
            {{- value|raw -}}
            {% for child in block %}
                {{ block_widget(child) }}
            {% endfor %}
        </div>

        {% if control %}
        <a class="left carousel-control" href="#{{ id }}" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#{{ id }}" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock carousel_widget %}

{% block carousel_item_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('item ' ~ attr.class|default(''))|trim}) %}
    {% if active %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' active')|trim}) %}
    {% endif %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
        {% if label is not empty or caption is not empty %}
        <div class="carousel-caption">
            {% if label is not empty %}<h3>{{ label|trans({}, translation_domain) }}</h3>{% endif %}
            {% if caption is not empty %}<p>{{ caption|trans({}, translation_domain) }}</p>{% endif %}
        </div>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock carousel_item_widget %}


{% block navbar_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('navbar navbar-' ~ style ~ ' ' ~ attr.class|default(''))|trim, role: 'navigation'}) %}
    {% if position is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' navbar-' ~ position)|trim}) %}
    {% endif %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock navbar_widget %}

{% block navbar_header_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('navbar-header ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {% if collapse_id is defined and collapse_id is not empty %}{{ block('navbar_header_toggle_button') }}{% endif %}
        {% if navbar_brand is defined %}{{ block_widget(navbar_brand) }}{% endif %}
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock navbar_header_widget %}

{% block navbar_header_toggle_button %}
{% spaceless %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{{ collapse_id }}">
        <span class="sr-only">{{ label|trans({}, translation_domain) }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
{% endspaceless %}
{% endblock navbar_header_toggle_button %}

{% block navbar_brand_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('navbar-brand ' ~ attr.class|default(''))|trim}) %}
    <a{{ block('widget_container_attributes') }}>
        {{- label|trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </a>
{% endspaceless %}
{% endblock navbar_brand_widget %}

{% block navbar_collapse_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('collapse navbar-collapse ' ~ attr.class|default(''))|trim}) %}
    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock navbar_collapse_widget %}


{% block table_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('table ' ~ attr.class|default(''))|trim}) %}
    {% if striped %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' table-striped')|trim}) %}
    {% endif %}
    {% if bordered %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' table-bordered')|trim}) %}
    {% endif %}
    {% if condensed %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' table-condensed')|trim}) %}
    {% endif %}
    {% if hover_rows %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' table-hover')|trim}) %}
    {% endif %}

    {% if responsive %}
        <div class="table-responsive">
    {% endif %}
    <table{{ block('widget_container_attributes') }}>
        {% if caption is defined %}
            {{ block_widget(caption) }}
        {% endif %}
        {% if header is defined %}
            {{ block_widget(header) }}
        {% endif %}
        {% if header.vars.header_columns is defined %}
            <tbody>
                {% for rowIndex, rowData in data.rows %}
                    <tr{% if rowData._row_id is defined %} data-row-id="{{ rowData._row_id }}"{% endif %}>
                        {% for colIndex, colBlock in header.vars.header_columns %}
                            {% set data_attr = rowData._attr_columns[colBlock.vars.name]|default([]) %}
                            {% set data_attr = data_attr|merge({'class': ('col-' ~ colBlock.vars.name ~ ' ' ~ data_attr['class']|default(''))|trim}) %}
                            <td{% for attrname, attrvalue in data_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ rowData[colBlock.vars.name]|default(null)|raw }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
        {% if footer is defined %}
            {{ block_widget(footer) }}
        {% endif %}
        {% for child in block %}
            {{ block_widget(child) }}
        {% endfor %}
    </table>
    {% if responsive %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock table_widget %}

{% block table_caption_widget %}
{% spaceless %}
    <caption{{ block('widget_container_attributes') }}>
        {{- label|trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </caption>
{% endspaceless %}
{% endblock table_caption_widget %}

{% block table_header_widget %}
{% spaceless %}
    <thead{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
        {% if header_columns is defined %}
            <tr>
                {% for colIndex, colBlock in header_columns %}
                    {{ block_label(colBlock) }}
                {% endfor %}
            </tr>
        {% endif %}
    </thead>
{% endspaceless %}
{% endblock table_header_widget %}

{% block table_footer_widget %}
{% spaceless %}
    <tfoot{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </tfoot>
{% endspaceless %}
{% endblock table_footer_widget %}

{% block table_column_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'data-class': ('col-' ~ name ~ ' ' ~ attr['class']|default(''))|trim}) %}
    <th{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </th>
{% endspaceless %}
{% endblock table_column_label %}

{% block table_column_widget %}
{% endblock table_column_widget %}

{% block table_row_widget %}
{% spaceless %}
<tr{{ block('widget_container_attributes') }}>
    {{- label|trans({}, translation_domain) -}}
    {{- value|raw -}}
    {{- block('block_rows') -}}
</tr>
{% endspaceless %}
{% endblock table_row_widget %}

{% block table_cell_widget %}
{% spaceless %}
{% if rowspan is not empty %}
    {% set attr = attr|merge({'rowspan': rowspan}) %}
{% endif %}
{% if colspan is not empty %}
    {% set attr = attr|merge({'colspan': colspan}) %}
{% endif %}
<td{{ block('widget_container_attributes') }}>
    {{- label|trans({}, translation_domain) -}}
    {{- value|raw -}}
    {{- block('block_rows') -}}
</td>
{% endspaceless %}
{% endblock table_cell_widget %}

{% block table_header_cell_widget %}
{% spaceless %}
{% if rowspan is not empty %}
    {% set attr = attr|merge({'rowspan': rowspan}) %}
{% endif %}
{% if colspan is not empty %}
    {% set attr = attr|merge({'colspan': colspan}) %}
{% endif %}
<th{{ block('widget_container_attributes') }}>
    {{- label|trans({}, translation_domain) -}}
    {{- value|raw -}}
    {{- block('block_rows') -}}
</th>
{% endspaceless %}
{% endblock table_header_cell_widget %}
