{% block heading_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    <h{{ size }}{{ block('widget_container_attributes') }}>
        {{- label|block_trans({}, translation_domain) -}}
        {%- if secondary is not null -%}
            <small>{{ secondary }}</small>
        {%- endif -%}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </h{{ size }}>
{%- endif -%}
{%- endblock heading_widget %}


{% block paragraph_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if lead -%}
        {%- set attr = attr|merge({'class': ('lead ' ~ attr.class|default(''))|trim}) -%}
    {%- endif -%}
    {%- if align is not null -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' text-' ~ align)|trim}) -%}
    {%- endif -%}
    {%- if emphasis is not null -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' text-' ~ emphasis)|trim}) -%}
    {%- endif -%}

    <p{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </p>
{%- endif -%}
{%- endblock paragraph_widget %}


{% block abbreviation_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if label is not null -%}
        {%- set attr = attr|merge({'title': label|block_trans({}, translation_domain)}) -%}
    {%- endif -%}
    {%- if initialism -%}
        {%- set attr = attr|merge({'class': ('initialism ' ~ attr.class|default(''))|trim}) -%}
    {%- endif -%}
    <abbr{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </abbr>
{%- endif -%}
{%- endblock abbreviation_widget %}


{% block address_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    <address{{ block('widget_container_attributes') }}>
        {%- if label is not empty -%}
            <strong>{{- label|block_trans({}, translation_domain) -}}</strong><br>
        {%- endif -%}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </address>
{%- endif -%}
{%- endblock address_widget %}


{% block blockquote_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if reverse -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' blockquote-reverse')|trim}) -%}
    {%- endif -%}

    <blockquote{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </blockquote>
{%- endif -%}
{%- endblock blockquote_widget %}


{% block blockquote_footer_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    <footer{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </footer>
{%- endif -%}
{%- endblock blockquote_footer_widget %}


{% block list_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if unstyled is defined and unstyled -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' list-unstyled')|trim}) -%}
    {%- endif -%}
    {%- if inline is defined and inline -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' list-inline')|trim}) -%}
    {%- endif -%}
    {%- if horizontal is defined and horizontal -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' dl-horizontal')|trim}) -%}
    {%- endif -%}

    <{{ tag }}{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </{{ tag }}>
{%- endif -%}
{% endblock list_widget %}


{% block list_item_widget -%}
{%- if rendered -%}
    {%- set tag = tag|default('li') -%}
    {%- if 'dl' == block.parent.vars.tag|default(null) -%}
        {%- set tag = 'dd' -%}
    {%- endif -%}

    {%- if 'dd' == tag -%}
        <dt>{{- label|block_trans({}, translation_domain) -}}</dt>
    {%- endif -%}
    <{{ tag }}{{ block('widget_container_attributes') }}>
        {%- if 'li' == tag or is_link|default(false) %}{{- label|block_trans({}, translation_domain) -}}{% endif -%}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </{{ tag }}>
{%- endif -%}
{%- endblock list_item_widget %}
