{% block navbar_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- set attr = attr|merge({'class': ('navbar navbar-' ~ style ~ ' ' ~ attr.class|default(''))|trim, role: 'navigation'}) -%}
    {%- if position is not null -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' navbar-' ~ position)|trim}) -%}
    {%- endif -%}

    {%- if affix_style -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' affix')|trim}) -%}
    {%- endif -%}

    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock navbar_widget %}


{% block navbar_header_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('navbar-header ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}>
        {%- if collapse_id is defined and collapse_id is not empty %}{{ block('navbar_header_toggle_button') }}{% endif -%}
        {%- if navbar_brand is defined %}{{ block_widget(navbar_brand) }}{% endif -%}

        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock navbar_header_widget %}


{% block navbar_header_toggle_button -%}
{%- if rendered -%}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{{ collapse_id }}">
        <span class="sr-only">{{ label|block_trans({}, translation_domain) }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
{%- endif -%}
{%- endblock navbar_header_toggle_button %}


{% block navbar_brand_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('navbar-brand ' ~ attr.class|default(''))|trim}) -%}

    <a{{ block('widget_container_attributes') }}>
        {{- label|block_trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </a>
{%- endif -%}
{%- endblock navbar_brand_widget %}


{% block navbar_collapse_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('collapse navbar-collapse ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock navbar_collapse_widget %}
