{% block thumbnail_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('thumbnail ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock thumbnail_widget %}


{% block thumbnail_caption_widget -%}
{%- if rendered -%}
    {%- set attr = attr|merge({'class': ('caption ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}>
        {%- if label is not empty %}<h3>{{ label|block_trans({}, translation_domain) }}</h3>{% endif -%}
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock thumbnail_caption_widget %}
