{% block modal_widget %}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- require_script '@bower/bootstrap/js/modal.js' -%}

    {%- set attr = attr|merge({'class': ('modal ' ~ attr.class|default(''))|trim}) -%}
    {%- set dialog_attr = dialog_attr|merge({'class': ('modal-dialog ' ~ dialog_attr.class|default(''))|trim}) -%}
    {%- set content_attr = content_attr|merge({'class': ('modal-content ' ~ content_attr.class|default(''))|trim}) -%}

    {%- if transition is not null -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ transition)|trim}) -%}
    {%- endif -%}

    {%- if size is not null -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' modal-' ~ size)|trim}) -%}
    {%- endif -%}

    <div{{ block('widget_container_attributes') }}>
        <div{% for attrname, attrvalue in dialog_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <div{% for attrname, attrvalue in content_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {%- if block_header is defined -%}
                    {{- block_widget(block_header) -}}
                {%- endif -%}
                {{- value|raw -}}
                {%- for child in block -%}
                    {{- block_widget(child) -}}
                {%- endfor -%}
            </div>
        </div>
    </div>
{%- endif -%}
{%- endblock modal_widget %}


{% block modal_header_widget -%}
{%- if rendered -%}
    {%- set attr = attr|merge({'class': ('modal-header ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}>
        {%- if close_button -%}
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        {%- endif -%}
        {%- if label is not empty %}<h4 class="modal-title">{{- label|block_trans({}, translation_domain)|raw -}}</h4>{% endif -%}
            {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock modal_header_widget %}


{% block modal_body_widget -%}
{%- if rendered -%}
    {%- set attr = attr|merge({'class': ('modal-body ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock modal_body_widget %}


{% block modal_footer_widget -%}
{%- if rendered -%}
    {%- set attr = attr|merge({'class': ('modal-footer ' ~ attr.class|default(''))|trim}) -%}

    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- endblock modal_footer_widget %}
