{% block dropdown_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- require_script '@bower/bootstrap/js/dropdown.js' -%}
    {%- if wrapper -%}
        {%- set wrapper_attr = wrapper_attr|merge({'class': (wrapper_attr.class|default('') ~ ' dropdown')|trim}) -%}
        <div{% for attrname, attrvalue in wrapper_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {%- endif -%}

    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-menu')|trim, role:'menu'}) -%}

    {%- if align is not empty -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-menu-' ~ align)|trim}) -%}
    {%- endif -%}
    <ul{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </ul>
    {%- if wrapper -%}
        </div>
    {%- endif -%}
{%- endif -%}
{%- endblock dropdown_widget %}


{% block dropdown_divider_widget -%}
{%- if rendered -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' divider')|trim, role:'presentation'}) -%}

    <li{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </li>
{%- endif -%}
{%- endblock dropdown_divider_widget %}


{% block dropdown_item_widget -%}
{%- if rendered -%}
    {%- set attr = attr|merge({role:'presentation'}) -%}
    {%- set link_attr = link_attr|merge({role:'menuitem'}) -%}
    {%- if disabled -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' disabled')|trim}) -%}
    {%- endif -%}
    <li{{ block('widget_container_attributes') }}>
        {%- for child in item_prepends -%}
            {{- block_widget(child) -}}
        {%- endfor -%}

        <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- label|block_trans({}, translation_domain) -}}
            {{- value|raw -}}
            {{- block('block_rows') -}}
        </a>

        {%- for child in item_appends -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </li>
{%- endif -%}
{%- endblock dropdown_item_widget %}


{% block dropdown_item_prepend_widget -%}
    {{- block('block_rows') -}}
{%- endblock dropdown_item_prepend_widget %}


{% block dropdown_item_append_widget -%}
    {{- block('block_rows') -}}
{%- endblock dropdown_item_append_widget %}


{% block dropdown_header_widget -%}
{%- if rendered -%}
    {%- if divider -%}
        {%- sblock 'dropdown_divider' :-%}
    {%- endif -%}

    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-header')|trim, role:'presentation'}) -%}

    <li{{ block('widget_container_attributes') }}>
        {{- label|block_trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </li>
{%- endif -%}
{%- endblock dropdown_header_widget %}
