{% use '@SonatraBootstrap/Block/block_bootstrap.html.twig' %}

{% block button_group_widget %}
{% spaceless %}
    {% if vertical %}
        {% set vertical = '-vertical' %}
    {% else %}
        {% set vertical = '' %}
    {% endif %}

    {% set attr = attr|merge({'class': ('btn-group' ~ vertical ~ ' ' ~ attr.class|default(''))|trim}) %}

    {% if size is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-group-' ~ size)|trim}) %}
    {% endif %}

    {% if justified %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-group-justified')|trim}) %}
    {% endif %}

    {{ block('block_widget_compound') }}
{% endspaceless %}
{% endblock button_group_widget %}


{% block button_toolbar_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ' btn-toolbar' ~ (attr.class|default(''))|trim}) %}

    <div {{ block('widget_container_attributes') }}>
	    {% for child in block %}
	        {{ block_widget(child) }}
	    {% endfor %}
    </div>
{% endspaceless %}
{% endblock button_toolbar_widget %}


{% block glyphicon_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('glyphicon glyphicon-' ~ icon ~ ' ' ~ attr.class|default(''))|trim}) %}

    <span {{ block('widget_container_attributes') }}>{{ block('block_rows') }}</span>
{% endspaceless %}
{% endblock glyphicon_widget %}


{% block well_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('well ' ~ attr.class|default(''))|trim}) %}

    {% if size is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' well-' ~ size)|trim}) %}
    {% endif %}

    {{ block('block_widget_compound') }}
{% endspaceless %}
{% endblock well_widget %}


{% block button_widget %}
{% spaceless %}
    {% if label is null %}
        {% set label = name|humanize %}
    {% endif %}

    {% if dropdown is defined and split is not defined %}
        {% set tag = 'button' %}
    {% elseif split is defined %}
        {% set tag = split.vars.tag %}
    {% endif %}

    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn')|trim}) %}

    {% if style is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-' ~ style)|trim}) %}
    {% endif %}

    {% if size is not null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-' ~ size)|trim}) %}
    {% endif %}

    {% if block_level %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-block')|trim}) %}
    {% endif %}

    {% if dropdown is defined %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-toggle')|trim, 'data-toggle': 'dropdown'}) %}
        <div class="btn-group{% if dropup %} dropup{% endif %}">
    {% endif %}

    {% if split is defined %}
        {{ block_assets_widget(split, {tag: tag, style: style, size: size, block_level: block_level}) }}
    {% endif %}

    {% if tag == 'button' %}
        <button type="button" {{ block('button_attributes') }}>
    {% else %}
        {% if disabled %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' disabled')|trim}) %}
        {% endif %}
        {% if src is not null and dropdown is not defined %}
	        {% set attr = attr|merge({'href': src}) %}
	    {% endif %}
        <a {{ block('widget_container_attributes') }}>
    {% endif %}
    {% if prepend is defined %}
        {% if prepend_is_string %}
            {{ prepend|raw }}
        {% else %}
            {{ block_assets_widget(prepend) }}
        {% endif %}
    {% endif %}
    {% if split is not defined %}
        {{ label|trans({}, translation_domain) }}
    {% endif %}
    {% if append is defined %}
        {% if append_is_string %}
            {{ append|raw }}
        {% else %}
            {{ block_assets_widget(append) }}
        {% endif %}
    {% endif %}

    {{ block('block_rows') }}

    {% if dropdown is defined %}
         <span class="caret"></span>
    {% endif %}

    {% if tag == 'button' %}
        </button>
    {% else %}
        </a>
    {% endif %}

    {% if dropdown is defined %}
        {{ block_assets_widget(dropdown) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock button_widget %}

{% block button_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ id }}"{% if disabled %} disabled="disabled"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{% endspaceless %}
{% endblock button_attributes %}


{% block link_widget %}
{% spaceless %}
    {% if label is null %}
        {% set label = attr.href %}
    {% endif %}

    {% if 'link' != style %}
        {% set attr = attr|merge({'class': ('btn btn-' ~ style ~ attr.class|default(''))|trim}) %}

        {% if size is not null %}
	        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-' ~ size)|trim}) %}
	    {% endif %}
    {% endif %}
    <a {{ block('widget_container_attributes') }}>
        {{- label|trans({}, translation_domain) -}}
        {{- block('block_rows') -}}
    </a>
{% endspaceless %}
{% endblock link_widget %}


{% block dropdown_widget %}
{% spaceless %}
    {% if wrapper %}
        {% set wrapper_attr = wrapper_attr|merge({'class': (wrapper_attr.class|default('') ~ ' dropdown')|trim}) %}
        <div {% for attrname, attrvalue in wrapper_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-menu')|trim, role:'menu'}) %}
    {% if pull_right %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' pull-right')|trim}) %}
    {% endif %}
    <ul {{ block('widget_container_attributes') }}>
        {{ block('block_rows') }}
    </ul>
    {% if wrapper %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock dropdown_widget %}

{% block dropdown_divider_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' divider')|trim, role:'presentation'}) %}
    <li {{ block('widget_container_attributes') }}>
        {{ block('block_rows') }}
    </li>
{% endspaceless %}
{% endblock dropdown_divider_widget %}

{% block dropdown_item_widget %}
{% spaceless %}
    {% set attr = attr|merge({role:'presentation'}) %}
    {% set link_attr = link_attr|merge({role:'menuitem'}) %}
    {% if disabled %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' disabled')|trim}) %}
    {% endif %}
    <li {{ block('widget_container_attributes') }}>
        <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}
            {{ block('block_rows') }}
        </a>
    </li>
{% endspaceless %}
{% endblock dropdown_item_widget %}

{% block dropdown_header_widget %}
{% spaceless %}
    {% if divider %}
        {{ sblock('dropdown_divider') }}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-header')|trim, role:'presentation'}) %}
    <li {{ block('widget_container_attributes') }}>
        {{ label|trans({}, translation_domain) }}
        {{ block('block_rows') }}
    </li>
{% endspaceless %}
{% endblock dropdown_header_widget %}


{% block nav_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('nav nav-' ~ style ~ ' ' ~ attr.class|default(''))|trim}) %}

    {% if stacked %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' nav-stacked')|trim}) %}
    {% endif %}

    <ul {{ block('widget_container_attributes') }}>
        {{ block('block_rows') }}
    </ul>
{% endspaceless %}
{% endblock nav_widget %}

{% block nav_item_widget %}
{% spaceless %}
    {% set style = block.parent.vars.style|default('tabs') %}

    {% if active and not disabled %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' active')|trim}) %}
    {% endif %}
    {% if disabled %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' disabled')|trim}) %}
    {% endif %}
    {% if is_item_dropdown %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown')|trim}) %}
        {% set link_attr = link_attr|merge({'class': (link_attr.class|default('') ~ ' dropdown-toggle')|trim, 'data-toggle': 'dropdown'}) %}
    {% endif %}
    <li {{ block('widget_container_attributes') }}>
        <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}{% if is_item_dropdown %}
            {{ block('block_rows') }}
            <span class="caret"></span>{% endif %}
        </a>
        {% if dropdown is defined %}
            {{ block_assets_widget(dropdown) }}
        {% endif %}
    </li>
{% endspaceless %}
{% endblock nav_item_widget %}


{% block tab_content_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('tab-content ' ~ attr.class|default(''))|trim}) %}

    {{ block('block_widget_compound') }}
{% endspaceless %}
{% endblock tab_content_widget %}

{% block tab_pane_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('tab-pane ' ~ attr.class|default(''))|trim}) %}

    {% if active %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' active')|trim}) %}
    {% endif %}

    {{ block('block_widget_compound') }}
{% endspaceless %}
{% endblock tab_pane_widget %}

{% block breadcrumb_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('breadcrumb ' ~ attr.class|default(''))|trim}) %}
    <ol {{ block('widget_container_attributes') }}>
        {{ block('block_rows') }}
    </ol>
{% endspaceless %}
{% endblock breadcrumb_widget %}

{% block breadcrumb_item_widget %}
{% spaceless %}
    {% if active %}
        {% set attr = attr|merge({'class': ('active ' ~ attr.class|default(''))|trim}) %}
    {% endif %}
    <li {{ block('widget_container_attributes') }}>
        {% if not(active) %}
	        <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
	    {% endif %}
            {{ label|trans({}, translation_domain) }}
            {{ block('block_rows') }}
        {% if not(active) %}
	        </a>
	    {% endif %}
    </li>
{% endspaceless %}
{% endblock breadcrumb_item_widget %}


{% block progress_bar_widget %}
{% spaceless %}
    {% if not(stacked) %}
    <div class="progress{% if striped %} progress-striped{% if animated %} active{% endif %}{% endif %}">
    {% endif %}

	    {% set attr = attr|merge({'class': ('progress-bar ' ~ attr.class|default(''))|trim,
	        'role': 'progressbar', 'aria-valuenow': value, 'aria-valuemin': min, 'aria-valuemax': max, 'style': 'width:'~value~'%;'})
	    %}

	    {% if style is not null %}
	        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' progress-bar-'~style)|trim}) %}
	    {% endif %}

	    {% if stacked or (not(stacked) and block.children|length == 0) %}
	    <div {{ block('widget_container_attributes') }}>
	        {% if label is not null %}
	            <span class="sr-only">{{ label|trans({'%value%': value}, translation_domain) }}</span>
	        {% endif %}
	    </div>
	    {% endif %}

	    {{ block('block_rows') }}

    {% if not(stacked) %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock progress_bar_widget %}


{% block close_widget %}
{% spaceless %}
    {% set attr = attr|merge({'type': 'button', 'class': ('close ' ~ attr.class|default(''))|trim, 'aria-hidden': 'true'}) %}

    <button {{ block('widget_container_attributes') }}>&times;</button>
{% endspaceless %}
{% endblock close_widget %}


{% block caret_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('caret ' ~ attr.class|default(''))|trim}) %}

    <span {{ block('widget_container_attributes') }}></span>
{% endspaceless %}
{% endblock caret_widget %}

{% block code_widget %}
{% spaceless %}
    <{% if inline %}code{% else %}pre{% endif %} {{ block('widget_container_attributes') }}>
	    {%- if escape -%}
	        {{- value -}}
	        {{- block('block_rows')|escape -}}
	    {%- else -%}
	        {{- value|raw -}}
	        {{- block('block_rows') -}}
	    {%- endif -%}
    </{% if inline %}code{% else %}pre{% endif %}>
{% endspaceless %}
{% endblock code_widget %}

{% block heading_widget %}
{% spaceless %}
    <h{{ size }} {{ block('widget_container_attributes') }}>
        {{ label|trans({}, translation_domain) }}
        {% if secondary is not null %}
            <small>{{ secondary|trans({}, translation_domain) }}</small>
        {% endif %}
	    {{ block('block_rows') }}
    </h{{ size }}>
{% endspaceless %}
{% endblock heading_widget %}


{% block paragraph_widget %}
{% spaceless %}
    {% if lead %}
        {% set attr = attr|merge({'class': ('lead ' ~ attr.class|default(''))|trim}) %}
    {% endif %}
    <p {{ block('widget_container_attributes') }}>
	    {{ block('block_rows') }}
    </p>
{% endspaceless %}
{% endblock paragraph_widget %}
