{% block pager_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('pager ' ~ attr.class|default(''))|trim}) -%}
    {%- set previous_wrap_attr = {} -%}
    {%- set next_wrap_attr = {} -%}

    {%- if aligned -%}
        {%- set previous_wrap_attr = previous_wrap_attr|merge({'class': ('previous ' ~ previous_wrap_attr.class|default(''))|trim}) -%}
        {%- set next_wrap_attr = next_wrap_attr|merge({'class': ('next ' ~ next_wrap_attr.class|default(''))|trim}) -%}
    {%- endif -%}

    {%- if previous_src is not null -%}
        {%- set previous_attr = previous_attr|merge({'href': previous_src}) -%}
    {%- endif -%}

    {%- if next_src is not null -%}
        {%- set next_attr = next_attr|merge({'href': previous_src}) -%}
    {%- endif -%}

    {%- if previous_disabled -%}
        {%- set previous_wrap_attr = previous_wrap_attr|merge({'class': (previous_wrap_attr.class|default('') ~ ' disabled')|trim}) -%}
    {%- endif -%}

    {%- if next_disabled -%}
        {%- set next_wrap_attr = next_wrap_attr|merge({'class': (next_wrap_attr.class|default('') ~ ' disabled')|trim}) -%}
    {%- endif -%}

    <ul{{ block('widget_container_attributes') }}>
        <li{% for attrname, attrvalue in previous_wrap_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><a{% for attrname, attrvalue in previous_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ previous_label|block_trans({}, translation_domain) }}</a></li>
        <li{% for attrname, attrvalue in next_wrap_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><a{% for attrname, attrvalue in next_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ next_label|block_trans({}, translation_domain) }}</a></li>
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </ul>
{%- endif -%}
{%- endblock pager_widget %}


{% block pagination_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('pagination ' ~ attr.class|default(''))|trim}) -%}

    {%- if size is not null -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' pagination-' ~ size)|trim}) -%}
    {%- endif -%}

    <ul{{ block('widget_container_attributes') }}>
        {%- if block_previous is defined %}{{ block_widget(block_previous) }}{% endif -%}
        {{- value|raw -}}
        {{- block('block_rows') -}}
        {%- if block_next is defined %}{{ block_widget(block_next) }}{% endif -%}
    </ul>
{%- endif -%}
{%- endblock pagination_widget %}


{% block pagination_item_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- if disabled -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' disabled')|trim}) -%}
    {%- elseif active -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' active')|trim}) -%}
    {%- endif -%}
    <li{{ block('widget_container_attributes') }}>
        {%- if disabled -%}
            <span>
                {{- label|block_trans({}, translation_domain)|raw -}}
                {{- value|raw -}}
                {{- block('block_rows') -}}
            </span>
        {%- else -%}
            <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{- label|block_trans({}, translation_domain)|raw -}}
                {{- value|raw -}}
                {{- block('block_rows') -}}
            </a>
        {%- endif -%}
    </li>
{%- endif -%}
{%- endblock pagination_item_widget %}
