{% block choice_widget_collapsed -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if layout|default(null) == 'horizontal' -%}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {%- endif -%}

    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) -%}

    {%- if size is not empty -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ size)|trim}) -%}
    {%- endif -%}



    {{- block('addon_start') -}}
    {%- if static_control -%}
        {{- block('choice_widget_collapsed_static_control') -}}
    {%- else -%}
        {{- block('base_choice_widget_collapsed') -}}
    {%- endif -%}

    {{- block('help_text') -}}
    {{- form_errors(form) -}}
    {{- block('addon_end') -}}

    {%- if layout|default(null) == 'horizontal' -%}
        </div>
    {%- endif -%}
{%- endblock choice_widget_collapsed %}


{% block base_choice_widget_collapsed -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {%- set required = false -%}
    {%- endif -%}

    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option{% if placeholder is empty %} label=" "{% endif %} value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ choice_translation_domain ? placeholder|trans({}, choice_translation_domain) : placeholder }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {%- set options = preferred_choices -%}

            {{- block('choice_widget_options') -}}

            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}

        {%- set options = choices -%}

        {{- block('choice_widget_options') -}}
    </select>
{%- endblock base_choice_widget_collapsed %}


{% block choice_widget_collapsed_static_control -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- for choice in choices -%}
        {%- if multiple -%}
            {%- for val in data -%}
                {%- if val == choice.value|default(choice) -%}
                    {%- set value = choice.label|default(choice) -%}
                    {{- block('form_control_static_value') -}}
                {%- endif -%}
            {%- endfor -%}
        {%- else -%}
            {%- if data == choice.value|default(choice) -%}
                {%- set value = choice.label|default(choice) -%}
                {{- block('form_control_static_value') -}}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}

    {%- if data is empty -%}
        {%- set value = null -%}
        {{- block('form_control_static_value') -}}
    {%- endif -%}
{%- endblock choice_widget_collapsed_static_control %}


{% block choice_widget_expanded -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {{- block('addon_start') -}}
    {{- choice_widget_expanded_before_content|default('')|raw -}}
    {%- if static_control -%}
        {{- block('choice_widget_collapsed') -}}
    {%- else -%}
        {%- if layout|default(null) == 'horizontal' -%}
            {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-' ~ layout_col_control)|trim}) -%}
            {%- set help_attr = help_attr|merge({'class': (help_attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-offset-' ~ layout_col_label ~ ' col-' ~ layout_col_size ~ '-' ~ layout_col_control)|trim}) -%}
        {%- endif -%}

        {{- block('base_choice_widget_expanded') -}}
        {{- choice_widget_expanded_after_content|default('')|raw -}}
        {{- block('help_text') -}}
        {{- form_errors(form) -}}
    {%- endif -%}
    {{- block('addon_end') -}}
{%- endblock choice_widget_expanded %}
