{% block addon_start -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- set addon_attr = addon_attr|default({}) -%}
    {%- if errors is defined and errors|length > 0 -%}
        {%- set addon_attr = addon_attr|merge({'class': (addon_attr.class|default('') ~ ' has-error')|trim}) -%}
    {%- endif -%}

    {%- if prepend_string is defined or prepend_form is defined or prepend_block is defined or append_string is defined or append_form is defined or append_block is defined -%}
        {%- set addon_attr = addon_attr|default({})|merge({'class': ('input-group ' ~ (addon_attr.class|default('')))|trim}) -%}
        {%- if size is not empty -%}
            {%- set addon_attr = addon_attr|default({})|merge({'class': ('input-group-' ~ size ~ ' ' ~ (addon_attr.class|default('')))|trim}) -%}
        {%- endif -%}

        <div {% for attrname, attrvalue in addon_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {%- endif -%}

    {%- set prepend_attr = prepend_attr|default({})|merge({'class': ('input-group-' ~ prepend_type ~ ' ' ~ (prepend_attr.class|default('')))|trim}) -%}

    {%- if prepend_string is defined -%}
        <span {% for attrname, attrvalue in prepend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ prepend_string|raw }}</span>
    {%- endif -%}

    {%- if prepend_form is defined -%}
        <div {% for attrname, attrvalue in prepend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ form_widget(prepend_form) }}</div>
    {%- endif -%}

    {%- if prepend_block is defined -%}
        <div {% for attrname, attrvalue in prepend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ block_widget(prepend_block) }}</div>
    {%- endif -%}
{%- endblock addon_start %}


{% block addon_end -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set append_attr = append_attr|default({})|merge({'class': ('input-group-' ~ append_type ~ ' ' ~ (append_attr.class|default('')))|trim}) -%}

    {%- if append_string is defined -%}
        <span {% for attrname, attrvalue in append_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ append_string|raw }}</span>
    {%- endif -%}

    {%- if append_form is defined -%}
        <div {% for attrname, attrvalue in append_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ form_widget(append_form) }}</div>
    {%- endif -%}

    {%- if append_block is defined -%}
        <div {% for attrname, attrvalue in append_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ block_widget(append_block) }}</div>
    {%- endif -%}

    {%- if prepend_string is defined or prepend_form is defined or prepend_block is defined or append_string is defined or append_form is defined or append_block is defined -%}
        </div>
    {%- endif -%}
{%- endblock addon_end %}
