{% use 'form_div_layout.html.twig' with form_widget_simple as base_form_widget_simple,
                                        form_label as base_form_label,
                                        form_start as base_form_start,
                                        collection_widget as base_collection_widget,
                                        textarea_widget as base_textarea_widget,
                                        choice_widget_collapsed as base_choice_widget_collapsed,
                                        choice_widget_expanded as base_choice_widget_expanded,
                                        datetime_widget as base_datetime_widget,
                                        date_widget as base_date_widget,
                                        time_widget as base_time_widget,
                                        hidden_widget as base_hidden_widget %}

{% block addon_start %}
{% spaceless %}
    {% if prepend_string is defined or prepend_form is defined or prepend_block is defined or append_string is defined or append_form is defined or append_block is defined %}
        {% set addon_attr = addon_attr|default({})|merge({'class': ('input-group ' ~ (addon_attr.class|default('')))|trim}) %}
        {% if size is not empty %}
            {% set addon_attr = addon_attr|default({})|merge({'class': ('input-group-' ~ size ~ ' ' ~ (addon_attr.class|default('')))|trim}) %}
        {% endif %}

        <div {% for attrname, attrvalue in addon_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% endif %}
        {% set prepend_attr = prepend_attr|default({})|merge({'class': ('input-group-' ~ prepend_type ~ ' ' ~ (prepend_attr.class|default('')))|trim}) %}

        {% if prepend_string is defined %}
            <span {% for attrname, attrvalue in prepend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ prepend_string }}</span>
        {% endif %}
        {% if prepend_form is defined %}
            <div {% for attrname, attrvalue in prepend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ form_assets_widget(prepend_form) }}</div>
        {% endif %}
        {% if prepend_block is defined %}
            <div {% for attrname, attrvalue in prepend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ block_assets_widget(prepend_block) }}</div>
        {% endif %}
{% endspaceless %}
{% endblock addon_start %}


{% block addon_end %}
{% spaceless %}
        {% set append_attr = append_attr|default({})|merge({'class': ('input-group-' ~ append_type ~ ' ' ~ (append_attr.class|default('')))|trim}) %}

        {% if append_string is defined %}
            <span {% for attrname, attrvalue in append_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ append_string }}</span>
        {% endif %}
        {% if append_form is defined %}
            <div {% for attrname, attrvalue in append_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ form_assets_widget(append_form) }}</div>
        {% endif %}
        {% if append_block is defined %}
            <div {% for attrname, attrvalue in append_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ block_assets_widget(append_block) }}</div>
        {% endif %}
    {% if prepend_string is defined or prepend_form is defined or prepend_block is defined or append_string is defined or append_form is defined or append_block is defined %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock addon_end %}


{% block form_control_static_value %}
<p class="form-control-static">{% if value is empty and static_control_empty is not empty %}<span class="form-static-empty">{{ static_control_empty|trans({}, translation_domain) }}</span>{% else %}{{ value|e }}{% endif %}</p>
{% endblock form_control_static_value %}


{% block help_text %}
{% spaceless %}
    {% if help_text is not empty %}
        {% set help_attr = help_attr|default({})|merge({'class': ('help-block ' ~ (help_attr.class|default('')))|trim}) %}
        <span{% for attrname, attrvalue in help_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ help_text|raw }}</span>
    {% endif %}
{% endspaceless %}
{% endblock help_text %}


{% block form_widget_simple %}
{% spaceless %}
    {% if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if static_control and type|default('text') != 'hidden' %}
        {{ block('form_control_static_value') }}
    {% else %}
	    {{ block('addon_start') }}
	    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
	    {% if size is not empty %}
	        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ size)|trim}) %}
	    {% endif %}
	    {{ block('base_form_widget_simple') }}
	    {{ block('addon_end') }}
	{% endif %}
	{{ block('help_text') }}

    {% if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}


{% block form_row %}
{% spaceless %}
    {% set row_attr = row_attr|default({})|merge({'class': ('form-group ' ~ (row_attr.class|default('')))|trim}) %}
    {% if validation_state is not empty %}
        {% set row_attr = row_attr|default({})|merge({'class': ('has-' ~ validation_state ~ ' ' ~ (row_attr.class|default('')))|trim}) %}
    {% endif %}

    <div {% for attrname, attrvalue in row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


{% block form_label %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {% if display_label == false %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' sr-only')|trim}) %}
    {% endif %}
    {% if layout|default(null) == 'horizontal' %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-' ~ layout_col_label)|trim}) %}
    {% endif %}
    {% if static_control %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <div{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</div>
    {% else %}
        {{ block('base_form_label') }}
    {% endif %}
{% endblock form_label %}


{% block form_start %}
    {% set attr = attr|merge({'role': 'form'}) %}
    {% if layout != null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-' ~ layout)|trim}) %}
    {% endif %}
    {{ block('base_form_start') }}
{% endblock form_start %}


{% block collection_widget %}
    {% if layout|default(null) == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {{ block('base_collection_widget') }}
    {% if static_control and value is empty %}
        {{ block('form_control_static_value') }}
    {% endif %}

    {% if btn_add is defined and not(static_control) %}
        {{ form_assets_widget(btn_add) }}
    {% endif %}
    {{ block('help_text') }}
    {% if layout|default(null) == 'horizontal' %}
        </div>
    {% endif %}
{% endblock collection_widget %}


{% block collection_javascript %}
    {% if btn_add is defined and prototype is defined %}
        $('#{{ btn_add.vars.id }}').click(function(event) {
            var inc = $(this).data('inc');
                inc = undefined !== inc ? inc : {{ form|length }};
            var collectionHolder = $('#' + $(this).attr('data-target'));
            var prototype = collectionHolder.attr('data-prototype');
            var form = prototype.replace(/{{ prototype_name }}/g, inc);

            collectionHolder.append(form);
            $(this).data('inc', ++inc);

            return false;
        });
    {% endif %}

    {% if allow_delete and prototype is defined %}
       $('#{{ id }}').on('click', 'button.btn-remove', null, function(event) {
            $(this).parents('.form-collection-row').remove();

            return false;
       });
    {% endif %}
{% endblock collection_javascript %}


{% block textarea_widget %}
    {% if layout|default(null) == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if static_control and type|default('text') != 'hidden' %}
        {{ block('form_control_static_value') }}
    {% else %}
	    {{ block('addon_start') }}
	    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
	    {% if size is not empty %}
	        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ size)|trim}) %}
	    {% endif %}
	    {{ block('base_textarea_widget') }}
	    {{ block('addon_end') }}
    {% endif %}
    {{ block('help_text') }}

    {% if layout|default(null) == 'horizontal' %}
        </div>
    {% endif %}
{% endblock textarea_widget %}


{% block checkbox_label %}
{% endblock checkbox_label %}


{% block checkbox_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set inline = inline|default(false) %}
    {% if inline %}
        {% set label_attr = label_attr|merge({'class': ('checkbox-inline ' ~ label_attr.class|default(''))|trim}) %}
    {% endif %}

    {% if layout|default(null) == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-offset-{{ layout_col_label }} col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if inline == false %}
    <div class="checkbox">
    {% endif %}
	    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
	        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	        {{ label|trans({}, translation_domain) }}
	    </label>
    {% if inline == false %}
    </div>
    {% endif %}
    {{ block('help_text') }}

    {% if layout|default(null) == 'horizontal' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock checkbox_widget %}


{% block radio_label %}
{% endblock radio_label %}


{% block radio_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set inline = inline|default(false) %}
    {% if inline %}
        {% set label_attr = label_attr|merge({'class': ('radio-inline ' ~ label_attr.class|default(''))|trim}) %}
    {% endif %}

    {% if layout|default(null) == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-offset-{{ layout_col_label }} col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if inline == false %}
    <div class="radio">
    {% endif %}
	    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
	        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	        {{ label|trans({}, translation_domain) }}
	    </label>
    {% if inline == false %}
    </div>
    {% endif %}
    {{ block('help_text') }}

    {% if layout|default(null) == 'horizontal' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock radio_widget %}


{% block choice_widget_collapsed %}
    {% if layout|default(null) == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {% if size is not empty %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ size)|trim}) %}
    {% endif %}

    {% if static_control %}
        {{ block('choice_widget_collapsed_static_control') }}
    {% else %}
        {{ block('base_choice_widget_collapsed') }}
    {% endif %}
    {{ block('help_text') }}

    {% if layout|default(null) == 'horizontal' %}
        </div>
    {% endif %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_collapsed_static_control %}
    {% for choice in choices %}
        {% if multiple %}
            {% for val in data %}
                {% if val == choice.value|default(choice) %}
                    {% set value = choice.label|default(choice)|trans({}, translation_domain) %}
                    {{ block('form_control_static_value') }}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if data == choice.value|default(choice) %}
                {% set value = choice.label|default(choice)|trans({}, translation_domain) %}
                {{ block('form_control_static_value') }}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if data is empty %}
        {% set value = null %}
        {{ block('form_control_static_value') }}
    {% endif %}
{% endblock choice_widget_collapsed_static_control %}

{% block choice_widget_expanded %}
    {% if static_control %}
        {{ block('choice_widget_collapsed') }}
    {% else %}
	    {% if layout|default(null) == 'horizontal' %}
	        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-' ~ layout_col_control)|trim}) %}
	        {% set help_attr = help_attr|merge({'class': (help_attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-offset-' ~ layout_col_label ~ ' col-' ~ layout_col_size ~ '-' ~ layout_col_control)|trim}) %}
	    {% endif %}
	    {{ block('base_choice_widget_expanded') }}
	    {{ block('help_text') }}
    {% endif %}
{% endblock choice_widget_expanded %}


{% block percent_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock percent_widget %}


{% block datetime_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-inline')|trim}) %}
    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if static_control %}
        {% set value = data|block_formatter('datetime') %}
        {{ block('form_control_static_value') }}
    {% else %}
        {{ block('base_datetime_widget') }}
    {% endif %}
    {{ block('help_text') }}

    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        </div>
    {% endif %}
{% endblock datetime_widget %}


{% block date_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-inline date')|trim}) %}
    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if static_control %}
        {% set value = data|block_formatter('date') %}
        {{ block('form_control_static_value') }}
    {% else %}
        {{ block('base_date_widget') }}
    {% endif %}
    {{ block('help_text') }}

    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        </div>
    {% endif %}
{% endblock date_widget %}


{% block time_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-inline time')|trim}) %}
    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if static_control %}
        {% set value = data|block_formatter('time') %}
        {{ block('form_control_static_value') }}
    {% else %}
        {{ block('base_time_widget') }}
    {% endif %}
    {{ block('help_text') }}

    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        </div>
    {% endif %}
{% endblock time_widget %}


{% block fieldset_label %}
{% endblock fieldset_label %}

{% block fieldset_widget %}
{% spaceless %}
    <fieldset {{ block('widget_attributes') }}>
        {% if legend is not empty %}
            {% if layout|default(null) == 'horizontal' %}
		        {% set legend_attr = legend_attr|merge({'class': (legend_attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-' ~ (layout_col_label + layout_col_control))|trim}) %}
		    {% endif %}
            <legend{% for attrname, attrvalue in legend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ legend }}</legend>
        {% endif %}
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </fieldset>
{% endspaceless %}
{% endblock fieldset_widget %}


{% block button_widget %}
{% spaceless %}
    {% if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
        <div class="col-{{ layout_col_size }}-offset-{{ layout_col_label }} col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {% if label is empty and label != '' %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if glyphicon is defined %}<span class="glyphicon glyphicon-{{ glyphicon }}"></span> {% endif %}{{ label|trans({}, translation_domain) }}</button>
    {% if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock button_widget %}


{% block button_row %}
{% spaceless %}
    {% set row_attr = row_attr|default({})|merge({'class': ('form-group ' ~ (row_attr.class|default('')))|trim}) %}

    <div {% for attrname, attrvalue in row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}


{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
	    {% if form.parent is empty %}
	    <div class="alert alert-danger">
	    {% elseif layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
        <div class="col-{{ layout_col_size }}-offset-{{ layout_col_label }} col-{{ layout_col_size }}-{{ layout_col_control }}">
	    {% endif %}
	    <ul{% if form.parent is not empty %} class="help-block"{% endif %}>
	        {% for error in errors %}
	            <li>{{ error.message }}</li>
	        {% endfor %}
	    </ul>
	    {% if form.parent is empty %}
	    </div>
	    {% elseif layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
	    </div>
	    {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}


{% block hidden_widget %}
{% spaceless %}
    {% set help_text = null %}
    {{ block('base_hidden_widget') }}
{% endspaceless %}
{% endblock hidden_widget %}
