{% block datetime_widget -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' form-inline')|trim}) -%}

    {%- if layout|default(null) == 'horizontal' and widget != 'single_text' -%}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {%- endif -%}

    {%- if static_control -%}
        {%- set value = data|block_formatter('datetime') -%}
        {{- block('form_control_static_value') -}}
    {%- else -%}
        {{- block('datetime_widget_content') -}}
    {%- endif -%}

    {{- block('help_text') -}}

    {%- if layout|default(null) == 'horizontal' and widget != 'single_text' -%}
        </div>
    {%- endif -%}
{%- endblock datetime_widget %}


{% block datetime_widget_content -%}
    {{- block('base_datetime_widget') -}}
{%- endblock datetime_widget_content %}


{% block date_widget -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if widget == 'single_text' -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' form-inline date')|trim}) -%}
    {%- endif -%}

    {%- if layout|default(null) == 'horizontal' and widget != 'single_text' -%}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {%- endif -%}

    {%- if static_control -%}
        {%- set value = data|block_formatter('date') -%}
        {{- block('form_control_static_value') -}}
    {%- else -%}
        {{- block('base_date_widget') -}}
    {%- endif -%}
    {{- block('help_text') -}}

    {%- if widget != 'single_text' -%}
        {{- form_errors(form) -}}
        {%- if floating_label|default(false) is same as(true) -%}
            {%- set label_attr = label_attr|merge({'class': ('control-label top-floating-label-choice ' ~ label_attr.class|default(''))|trim}) -%}
            {{- block('base_form_label') -}}
        {%- endif -%}
    {%- endif -%}

    {%- if layout|default(null) == 'horizontal' and widget != 'single_text' -%}
        </div>
    {%- endif -%}
{%- endblock date_widget %}


{% block time_widget -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' form-inline time')|trim}) -%}

    {%- if layout|default(null) == 'horizontal' and widget != 'single_text' -%}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {%- endif -%}

    {%- if static_control -%}
        {%- set value = data|block_formatter('time') -%}
        {{- block('form_control_static_value') -}}
    {%- else -%}
        {{- block('base_time_widget') -}}
    {%- endif -%}
    {{- block('help_text') -}}

    {%- if widget != 'single_text' -%}
        {{- form_errors(form) -}}
    {%- endif -%}

    {%- if layout|default(null) == 'horizontal' and widget != 'single_text' -%}
        </div>
    {%- endif -%}
{%- endblock time_widget %}
