{% block textarea_widget -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if layout|default(null) == 'horizontal' -%}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {%- endif -%}

    {{- block('addon_start') -}}
    {{- textarea_widget_before_content|default('')|raw -}}
    {%- if static_control and type|default('text') != 'hidden' -%}
        {{- block('form_control_static_value') -}}
    {%- else -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) -%}

        {%- if size is not empty -%}
            {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ size)|trim}) -%}
        {%- endif -%}
        {{- block('base_textarea_widget') -}}
    {%- endif -%}
    {{- block('help_text') -}}
    {{- textarea_widget_after_content|default('')|raw -}}
    {{- block('addon_end') -}}

    {%- if layout|default(null) == 'horizontal' -%}
        </div>
    {%- endif -%}
{%- endblock textarea_widget %}
