{% block form_widget_simple -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' -%}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {%- endif -%}

    {{- block('addon_start') -}}
    {{- form_widget_simple_before_content|default('')|raw -}}
    {%- if static_control and type|default('text') != 'hidden' -%}
        {{- block('form_control_static_value') -}}
    {%- else -%}
        {%- set form_widget_simple_block_name = form_widget_simple_block_name|default('base_form_widget_simple') -%}
        {%- set attr = attr|merge({'class': ('form-control ' ~ attr.class|default(''))|trim}) -%}
        {%- if size is not empty -%}
            {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ size)|trim}) -%}
        {%- endif -%}

        {{- block(form_widget_simple_block_name) -}}
    {%- endif -%}
    {{- block('help_text') -}}
    {{- form_widget_simple_after_content|default('')|raw -}}
    {{- block('addon_end') -}}

    {%- if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' -%}
        </div>
    {%- endif -%}
{% endblock form_widget_simple %}


{%- block form_widget_compound -%}
    {%- if wrapped is not defined or wrapped is same as(true) -%}
    <div {{ block('widget_container_attributes') }}>
    {%- endif -%}
        {{- block('addon_start') -}}
        {{- block('form_rows') -}}
        {%- if form.parent is empty and (form.vars.skip_rest is not defined or form.vars.skip_rest is same as(false)) -%}
            {{- form_rest(form) -}}
        {%- endif -%}
            {{- block('addon_end') -}}
    {%- if wrapped is not defined or wrapped is same as(true) -%}
    </div>
    {%- endif -%}
{%- endblock form_widget_compound -%}


{% block form_errors -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if errors|length > 0 -%}
        {%- if form.parent is empty -%}
            <div class="alert alert-danger">
        {%- elseif layout|default(null) == 'horizontal' and type|default('text') != 'hidden' -%}
            <div class="col-{{ layout_col_size }}-offset-{{ layout_col_label }} col-{{ layout_col_size }}-{{ layout_col_control }}">
        {%- endif -%}

        <ul{% if form.parent is not empty %} class="help-block"{% endif %}>
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>

        {%- if form.parent is empty -%}
            </div>
        {%- elseif layout|default(null) == 'horizontal' and type|default('text') != 'hidden' -%}
            </div>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_errors %}


{% block form_row -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- set row_attr = row_attr|default({})|merge({'class': ('form-group ' ~ (row_attr.class|default('')))|trim}) -%}

    {%- if size -%}
        {%- set row_attr = row_attr|default({})|merge({'class': ((row_attr.class|default('')) ~ ' form-group-' ~ size)|trim}) -%}
    {%- endif -%}

    {%- if validation_state is not empty -%}
        {%- set row_attr = row_attr|default({})|merge({'class': ('has-' ~ validation_state ~ ' ' ~ (row_attr.class|default('')))|trim}) -%}
    {%- endif -%}

    <div {% for attrname, attrvalue in row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}


{% block form_label -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' form-label')|trim}) -%}

    {%- if display_label == false -%}
        {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' sr-only')|trim}) -%}
    {%- endif -%}

    {%- if layout|default(null) == 'horizontal' -%}
        {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-' ~ layout_col_label)|trim}) -%}
    {%- endif -%}
    {%- if static_control -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if label is empty -%}
            {%- set label = name|humanize -%}
        {%- endif -%}

        <div{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label }}</div>
    {%- else -%}
        {{- block('base_form_label') -}}
    {%- endif -%}
{%- endblock form_label %}


{% block form_start -%}
    {%- set attr = attr|merge({'role': 'form'}) -%}

    {%- if layout != null -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' form-' ~ layout)|trim}) -%}
    {%- endif -%}
    {{- block('base_form_start') -}}
{%- endblock form_start %}


{% block widget_attributes -%}
    {%- if id is not empty %}id="{{ id }}" name="{{ full_name }}"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes %}
