{% block button_widget -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- require_script '@bower/bootstrap/js/button.js' -%}

    {%- if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' -%}
        <div class="col-{{ layout_col_size }}-offset-{{ layout_col_label }} col-{{ layout_col_size }}-{{ layout_col_control }}">
    {%- endif -%}
    {%- if label is null -%}
        {%- set label = name|humanize -%}
    {%- endif -%}

    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {%- if glyphicon is defined -%}
            <span class="glyphicon glyphicon-{{ glyphicon }}"></span>
            {{- " " -}}
        {%- endif -%}
        {{- button_widget_before_content|default('')|raw -}}
        {%- if translation_domain is not same as(false) -%}
            {{- label|trans({}, translation_domain) -}}
        {%- else -%}
            {{- label -}}
        {%- endif -%}
        {{- button_widget_after_content|default('')|raw -}}
    </button>

    {%- if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' -%}
        </div>
    {%- endif -%}
{%- endblock button_widget %}


{% block button_row -%}
    {%- set row_attr = row_attr|default({})|merge({'class': ('form-group ' ~ (row_attr.class|default('')))|trim}) -%}

    <div {% for attrname, attrvalue in row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}


{% block button_attributes -%}
    {%- if id is not empty %}id="{{ id }}" name="{{ full_name }}"{% endif %}{% if disabled %} disabled="disabled"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock button_attributes %}
