{% use 'form_div_layout.html.twig' with form_widget_simple as base_form_widget_simple,
                                        form_label as base_form_label,
                                        form_start as base_form_start,
                                        collection_widget as base_collection_widget,
                                        textarea_widget as base_textarea_widget,
                                        choice_widget_collapsed as base_choice_widget_collapsed,
                                        choice_widget_expanded as base_choice_widget_expanded,
                                        datetime_widget as base_datetime_widget,
                                        date_widget as base_date_widget,
                                        time_widget as base_time_widget %}

{% block addon_start %}
{% spaceless %}
    {% if prepend_string is defined or prepend_form is defined or prepend_block is defined or append_string is defined or append_form is defined or append_block is defined %}
        {% set addon_attr = addon_attr|default({})|merge({'class': ('input-group ' ~ (addon_attr.class|default('')))|trim}) %}
        {% if size is not empty %}
            {% set addon_attr = addon_attr|default({})|merge({'class': ('input-group-' ~ size ~ ' ' ~ (addon_attr.class|default('')))|trim}) %}
        {% endif %}

        <div {% for attrname, attrvalue in addon_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% endif %}
        {% set prepend_attr = prepend_attr|default({})|merge({'class': ('input-group-' ~ prepend_type ~ ' ' ~ (prepend_attr.class|default('')))|trim}) %}

        {% if prepend_string is defined %}
            <span {% for attrname, attrvalue in prepend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ prepend_string }}</span>
        {% endif %}
        {% if prepend_form is defined %}
            <div {% for attrname, attrvalue in prepend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ form_assets_widget(prepend_form) }}</div>
        {% endif %}
        {% if prepend_block is defined %}
            <div {% for attrname, attrvalue in prepend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ block_assets_widget(prepend_block) }}</div>
        {% endif %}
{% endspaceless %}
{% endblock addon_start %}


{% block addon_end %}
{% spaceless %}
        {% set append_attr = append_attr|default({})|merge({'class': ('input-group-' ~ append_type ~ ' ' ~ (append_attr.class|default('')))|trim}) %}

        {% if append_string is defined %}
            <span {% for attrname, attrvalue in append_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ append_string }}</span>
        {% endif %}
        {% if append_form is defined %}
            <div {% for attrname, attrvalue in append_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ form_assets_widget(append_form) }}</div>
        {% endif %}
        {% if append_block is defined %}
            <div {% for attrname, attrvalue in append_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ block_assets_widget(append_block) }}</div>
        {% endif %}
    {% if prepend_string is defined or prepend_form is defined or prepend_block is defined or append_string is defined or append_form is defined or append_block is defined %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock addon_end %}


{% block form_widget_simple %}
{% spaceless %}
    {% if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {{ block('addon_start') }}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {% if size is not empty %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ size)|trim}) %}
    {% endif %}
    {{ block('base_form_widget_simple') }}
    {{ block('addon_end') }}
    {% if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}


{% block form_row %}
{% spaceless %}
    {% set row_attr = row_attr|default({})|merge({'class': ('form-group ' ~ (row_attr.class|default('')))|trim}) %}
    {% if validation_state is not empty %}
        {% set row_attr = row_attr|default({})|merge({'class': ('has-' ~ validation_state ~ ' ' ~ (row_attr.class|default('')))|trim}) %}
    {% endif %}

    <div {% for attrname, attrvalue in row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


{% block form_label %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {% if display_label == false %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' sr-only')|trim}) %}
    {% endif %}
    {% if layout|default(null) == 'horizontal' %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-' ~ layout_col_label)|trim}) %}
    {% endif %}
    {{ block('base_form_label') }}
{% endblock form_label %}


{% block form_start %}
    {% set attr = attr|merge({'role': 'form'}) %}
    {% if layout != null %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-' ~ layout)|trim}) %}
    {% endif %}
    {{ block('base_form_start') }}
{% endblock form_start %}


{% block collection_widget %}
    {% if layout|default(null) == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {{ block('base_collection_widget') }}

    {% if btn_add is defined %}
        {{ form_assets_widget(btn_add) }}
    {% endif %}
    {% if layout|default(null) == 'horizontal' %}
        </div>
    {% endif %}
{% endblock collection_widget %}


{% block collection_javascript %}
    {% if btn_add is defined and prototype is defined %}
        $('#{{ btn_add.vars.id }}').click(function(event) {
            var inc = $(this).data('inc');
                inc = undefined !== inc ? inc : {{ form|length }};
            var collectionHolder = $('#' + $(this).attr('data-target'));
            var prototype = collectionHolder.attr('data-prototype');
            var form = prototype.replace(/{{ prototype_name }}/g, inc);

            collectionHolder.append(form);
            $(this).data('inc', ++inc);

            return false;
        });
    {% endif %}

    {% if allow_delete and prototype is defined %}
       $('#{{ id }}').on('click', 'button.btn-remove', null, function(event) {
            $(this).parents('.form-collection-row').remove();

            return false;
       });
    {% endif %}
{% endblock collection_javascript %}


{% block textarea_widget %}
    {% if layout|default(null) == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {{ block('addon_start') }}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {% if size is not empty %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ size)|trim}) %}
    {% endif %}
    {{ block('base_textarea_widget') }}
    {{ block('addon_end') }}
    {% if layout|default(null) == 'horizontal' %}
        </div>
    {% endif %}
{% endblock textarea_widget %}


{% block checkbox_label %}
{% endblock checkbox_label %}


{% block checkbox_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set inline = inline|default(false) %}
    {% if inline %}
        {% set label_attr = label_attr|merge({'class': ('checkbox-inline ' ~ label_attr.class|default(''))|trim}) %}
    {% endif %}

    {% if layout|default(null) == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-offset-{{ layout_col_label }} col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if inline == false %}
    <div class="checkbox">
    {% endif %}
	    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
	        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	        {{ label|trans({}, translation_domain) }}
	    </label>
    {% if inline == false %}
    </div>
    {% endif %}

    {% if layout|default(null) == 'horizontal' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock checkbox_widget %}


{% block radio_label %}
{% endblock radio_label %}


{% block radio_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set inline = inline|default(false) %}
    {% if inline %}
        {% set label_attr = label_attr|merge({'class': ('radio-inline ' ~ label_attr.class|default(''))|trim}) %}
    {% endif %}

    {% if layout|default(null) == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-offset-{{ layout_col_label }} col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}

    {% if inline == false %}
    <div class="radio">
    {% endif %}
	    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
	        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	        {{ label|trans({}, translation_domain) }}
	    </label>
    {% if inline == false %}
    </div>
    {% endif %}

    {% if layout|default(null) == 'horizontal' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock radio_widget %}


{% block choice_widget_collapsed %}
    {% if layout|default(null) == 'horizontal' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {% if size is not empty %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ size)|trim}) %}
    {% endif %}
    {{ block('base_choice_widget_collapsed') }}
    {% if layout|default(null) == 'horizontal' %}
        </div>
    {% endif %}
{% endblock choice_widget_collapsed %}


{% block choice_widget_expanded %}
    {% if layout|default(null) == 'horizontal' %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' col-' ~ layout_col_size ~ '-' ~ layout_col_control)|trim}) %}
    {% endif %}
    {{ block('base_choice_widget_expanded') }}
{% endblock choice_widget_expanded %}


{% block percent_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock percent_widget %}


{% block datetime_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-inline')|trim}) %}
    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {{ block('base_datetime_widget') }}
    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        </div>
    {% endif %}
{% endblock datetime_widget %}


{% block date_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-inline date')|trim}) %}
    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {{ block('base_date_widget') }}
    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        </div>
    {% endif %}
{% endblock date_widget %}


{% block time_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-inline time')|trim}) %}
    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {{ block('base_time_widget') }}
    {% if layout|default(null) == 'horizontal' and widget != 'single_text' %}
        </div>
    {% endif %}
{% endblock time_widget %}


{% block button_widget %}
{% spaceless %}
    {% if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
        <div class="col-{{ layout_col_size }}-offset-{{ layout_col_label }} col-{{ layout_col_size }}-{{ layout_col_control }}">
    {% endif %}
    {% if label is empty and label != '' %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if glyphicon is defined %}<span class="glyphicon glyphicon-{{ glyphicon }}"></span> {% endif %}{{ label|trans({}, translation_domain) }}</button>
    {% if layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock button_widget %}


{% block button_row %}
{% spaceless %}
    {% set row_attr = row_attr|default({})|merge({'class': ('form-group ' ~ (row_attr.class|default('')))|trim}) %}

    <div {% for attrname, attrvalue in row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}


{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
	    {% if form.parent is empty %}
	    <div class="alert alert-danger">
	    {% elseif layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
        <div class="col-{{ layout_col_size }}-offset-{{ layout_col_label }} col-{{ layout_col_size }}-{{ layout_col_control }}">
	    {% endif %}
	    <ul{% if form.parent is not empty %} class="help-block"{% endif %}>
	        {% for error in errors %}
	            <li>{{ error.message }}</li>
	        {% endfor %}
	    </ul>
	    {% if form.parent is empty %}
	    </div>
	    {% elseif layout|default(null) == 'horizontal' and type|default('text') != 'hidden' %}
	    </div>
	    {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
