{% block collection_widget -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {%- if layout|default(null) == 'horizontal' -%}
        <div class="col-{{ layout_col_size }}-{{ layout_col_control }}">
    {%- endif -%}

    {{- block('addon_start') -}}
    {{- collection_widget_before_content|default('')|raw -}}
    {{ block('base_collection_widget') }}

    {%- if static_control and value is empty -%}
        {{- block('form_control_static_value') -}}
    {%- endif -%}

    {%- if btn_add is defined and not(static_control) -%}
        <div>
        {{- form_widget(btn_add) -}}
        </div>
    {%- endif -%}

    {{- block('help_text') -}}
    {{- form_errors(form) -}}
    {{- collection_widget_after_content|default('')|raw -}}
    {{- block('addon_end') -}}

    {%- if layout|default(null) == 'horizontal' -%}
        </div>
    {%- endif -%}

    {%- inline_script -%}
        <script>
            {{- block('collection_widget_content_js') -}}
        </script>
    {%- endinline_script -%}
{%- endblock collection_widget %}

{% block collection_widget_content_js -%}
    {%- if btn_add is defined and prototype is defined -%}
    $('#{{ btn_add.vars.id }}').on('click.st.bootstrap', null, null, function(event) {
        var $this = $(this),
            $document = $(document),
            $wrapper = $('#' + $this.attr('data-target')),
            prototype = $wrapper.attr('data-prototype'),
            inc = $this.data('inc'),
            $row;
        inc = undefined !== inc ? inc : {{ form|length }};
        $row = $(prototype.replace(/{{ prototype_name }}/g, inc));
        $document.trigger('before_add.st.collection', [$wrapper, $row]);
        $wrapper.append($row);
        $document.trigger('after_add.st.collection', [$wrapper, $row]);
        $this.data('inc', ++inc);

        return false;
    });
    {%- endif -%}

    {%- if allow_delete and prototype is defined -%}
    $('#{{ id }}').on('click.st.bootstrap', 'button.btn-remove', null, function(event) {
        var $this = $(this),
            $document = $(document),
            $row = $this.parents('.form-collection-row'),
            $wrapper = $row.parent();
        $document.trigger('before_remove.st.collection', [$wrapper, $row]);
        $row.remove();
        $document.trigger('after_remove.st.collection', [$wrapper, $row]);

        return false;
    });
    {%- endif -%}
{%- endblock collection_widget_content_js %}
